/**
 * Created by user on 10/13/2017.
 */
.THIS .wrongField {
    border: solid red 0.5px !important;
}
.THIS input:disabled, .THIS select:disabled, .THIS textarea:disabled {
    color: gray;
}
.THIS select{
    line-height: 11px;
    -webkit-appearance: none;
    background-image: url(/resource/1510919235000/cncrg__Media/select.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px;
    background-position-x: 97%;
        /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
    cursor: pointer;
}
.THIS select::-ms-expand{
    display: none;
}
.THIS input{
    line-height: 14px;
}
.THIS .input_section {
    width: 100%;
    margin-top: 6px;
    border: 1px solid #cfd7e6;
    border-radius: 4px;
    padding: 10px 15px;
    height: 36px!important;
    /* margin-bottom: 20px; */
}
.THIS .input_Textarea {
    width: 100%;
    margin-top: 6px;
    border: 1px solid #cfd7e6;
    border-radius: 4px;
    padding: 10px 15px;
   /*  margin-bottom: 20px; */
    resize:vertical;
    font-size: 13px;
    min-height: 60px;
    line-height: 14px;
}
.THIS input,
.THIS textarea{
    -ms-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.THIS .output_section {
    width: 100%;
    margin-top: 6px;
    border: 1px solid #cfd7e6;
    border-radius: 4px;
    padding: 10px 15px;
    /* margin-bottom: 20px; */
    line-height: 15px;
}
.THIS .input_checkbox,
.THIS .input_DateTime,
.THIS .input_Number,
.THIS .input_Email,
.THIS .input_Phone{
    width: 100%;
    margin-top: 6px;
    border: 1px solid #cfd7e6;
    border-radius: 4px;
    padding: 10px 15px;
    /* margin-bottom: 20px; */
}

.THIS .info_table .uiInput {
    margin-bottom: 15px;
}


.THIS.cncrgFieldSetForm label {
    font-size: 13px;
    font-weight: normal;
    color: #4d6892;
}
.THIS .required {
    color: #f04f92;
    font-size: 1rem;
    position: relative;
    top: 2px;
    float: none;
}