.THIS.total_div {
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
	overflow-y: hidden;
	overflow-x: hidden;
	left: 0;
	/*z-index: -5;*/
}

.THIS.slds-spinner_container,
.THIS .slds-spinner_container{
	position: fixed;
	width: 100%;
	height:100%;
	left:0;
	top: 0;
    z-index: 99999999;
}

.THIS.total_div .video{
	position: fixed;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

.THIS.total_div img {
	top:0;
	left: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

.THIS.display_false {
	display: none;
}

.THIS.new_message_section {
	position: fixed;
	top: 10rem;
	border-radius: 0.5rem;
	width: 27%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-size: 1.5rem;
	padding: 1rem;
	transition: 1s linear;
	opacity: 0;
	line-height:30px;
}

.THIS.new_message_section.active {
    opacity: 1;
    z-index: 10091;
}

.THIS.info_message {
	background: #4f81ff;
	color: #fff;
}

.THIS.success_message {
	background: rgb(75, 202, 129);
	color: #fff;
}

.THIS.error_message {
	background: rgb(201, 97, 66);
	color: #fff;
}

/*logo*/
.THIS .my_tickets_btn img {
    width: auto;
    margin-top: -5px;
    max-height: 50px;
}

.THIS .my_tickets_btn {
    position: fixed;
 	top: 25px;
    right: 20px;
    border: 0;
    background: transparent;
    font-size: 1.6rem;
    font-weight: bold;
    outline: none;
}

@media (max-width: 768px) {
	.THIS.total_div img {
		max-width: none;
		height:100%!important;
		min-height: 100%!important;		
		object-position: 50% 50%;
		object-fit:cover;
	}

	.THIS.total_div span{
		display: block;
		height: 100%;

	}

	.THIS.total_div {
		position: fixed;
		min-height: 100%;
	}

	.THIS.new_message_section {
		width: 265px;
	}

}