.THIS .forceCommunityGlobalNavigation div {
	max-width: 100%;
}
.THIS .forceCommunityGlobalNavigation .slds-list__item button.salesforceIdentityAppLauncherHeader{
	padding: 6px 14px;
}
.THIS .blockMedia{
	display: none;
}
.THIS .inactive{
	display: none;
}
.THIS .active{
	display: block;
}
.THIS .blockMenu .updates-number-circle-custom-navBar {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: #de0000;
    border: 2px solid #de0000;
    border-radius: 50%;
    color: white;
    font-size: 11px;
    text-align: center;
    line-height: 16px;
    position: absolute;	    
    padding:0;
    margin:0;
    z-index: 99;
    top: -5px;
    right: -3px;
}

.THIS nav.blockNavigation.slds-has-flexi-truncate {
    height: 34px;
    display: flex;
    align-items: center;
}
.THIS .forceCommunityGlobalNavigation .slds-list__item a{
    padding: 7px 17px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    font-size: .875rem;
    text-transform: uppercase;

}
.THIS .blockMenu,
.THIS .comm-navigation__list li{
	height: 32px;
	display: flex;
}
.THIS .forceCommunityGlobalNavigation {
	min-height: 34px;
	color: #ffffff;
	height: 34px;
	display: flex;
    align-items: center;
}
.THIS .sub-forceCommunityGlobalNavigation{
	width: 100%;
}
.THIS .forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>a:hover, 
.THIS .forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>a.slds-is-active:not([data-type="home"]), 
.THIS .forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>button:hover, 
.THIS .forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>button.slds-is-active:not([data-type="home"]) {
    background-color: rgba(0,0,0,.2);
    text-decoration: none;
}
@media (max-width: 768px){
	.THIS .blockMedia{
		display: block;
	}
	.THIS nav.blockNavigation.slds-has-flexi-truncate{
		display:none;
	}
	 /* Side menu - start */
	.THIS .forceCommunityGlobalNavigation .slds-is-fixed>.slds-list_vertical {
		overflow-y: auto;
		background-color: #fff;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		max-width: 320px;
	}
	.THIS nav.slds-is-fixed{
		z-index: 99999;
	}
	.THIS ul.comm-navigation__list.slds-list_vertical{
		background-color: #fff;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 300px;
	}
	.THIS li.slds-is-relative.slds-list__item a.slds-container_fluid{
		color: rgba(0, 0, 0, 0.7);
		outline: none;
		border-bottom: 1px solid #ccc;
		font-size: 17px;
		padding:13px;
	}
	.THIS .forceCommunityGlobalNavigation .slds-list__item a.slds-container_fluid:hover, 
	.THIS .forceCommunityGlobalNavigation .slds-list__item a.slds-is-active:not([data-type="home"]), 
	.THIS .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]):hover, 
	.THIS .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]).slds-is-active:not([data-type="home"]){
		background: transparent;
		color: #000;
	}
	.THIS .forceCommunityGlobalNavigation .slds-is-fixed>.slds-list_vertical a.slds-container_fluid span.slds-truncate{
		padding-left: 0;
	}   
	.THIS .forceCommunityNavigationMenu button.slds-button.toggleNav{
		margin: 0 0 0 15px;
	}
	.THIS .comm-navigation__list li{
		height: auto;
	}
	.THIS .mediaNavBar a.slds-container_fluid{
		font-weight: 600;
		letter-spacing: 1px;
		max-width: 100%;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.THIS .blockMediaIcon{
		position: relative;
	}
	
	.THIS .blockMediaIcon .updates-number-circle-custom-navBar{
		top: -5px;
	    right: -11px;
	}
	.THIS .mediaNavBar .updates-number-circle-custom-navBar{
		top: 3px;
    	right: -5px;
	}
	/* Side menu - end */
}