.THIS .cncrgLogTicket.cncrgCaseCreate .info_div{
	margin:0; 
	width: 100%;
}
.THIS.breadcrumbs {
    padding: 15px 105px 0 45px;
    margin-bottom: -32px;
    color: black; 
}
.THIS button.previousRABtn .lightningPrimitiveIcon svg,
.THIS button.previousRABtn lightning-primitive-icon svg {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    fill: #54698d;
}

.THIS button.previousRABtn .lightningPrimitiveIcon svg:hover {
    fill: #0070d2;
}

.THIS button.previousRABtn {
    outline: none;
    color: #54698d;
    text-align: left;
    cursor: pointer;
}

.THIS button.previousRABtn:focus,
.THIS button.previousRABtn:active {
    outline: none;
}

.THIS span.previousRALabel {
    color: #54698d;
    text-align: left;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    max-width: calc(100% - 90px);
    vertical-align: middle;
}

.THIS span.previousRALabel:hover {
    color: #0070d2;
    cursor: pointer;
}

.THIS.display_false, 
.THIS .display_false {
    display: none;
}
.THIS .info_left{
    width:100%;
    /* max-width:calc(100% - 180px); */
}
.THIS.caseBlock .dynamicBlock>div>div{
	top: 0;
    left: 0!important;
    width: 100%;
    background: rgba(198, 198, 198, 0.55);
    z-index: 999;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    position: fixed;
}
.THIS .more {
    color: #008bff;
    font-size: 0.95rem;
    cursor: pointer;
    font-weight: bold;
    margin-left: 1rem;
}
.THIS .more {
    color: #0176d8;
}
.THIS.caseBlock .dynamicBlock>div>div.info_div{ 
	width: 50%;
}
.THIS .helpArea .helpBlock{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	width: 150px;
    align-items: center;
    margin: 0 15px -1px;
}
.THIS .helpArea .helpBlock:last-of-type{
	border-bottom: none;
}
.THIS .block_ActionsSection .helpText.logBtn{
	/* height: auto; */
	color: #0070d2;
	line-height: 15px;
}
.THIS .helpBlock .helpIcon{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
	display: flex;
}

.THIS .helpBlock .helpIcon img {
    position: static;
    top: 0;
    margin-right: 10px;
}
.THIS .cross img{
    width: 20px;
}

/*start - styles for Business Cards*/


.THIS .result_body .body_style .section_card table {
    margin: 0 auto!important;
    width: 100%;
    border: 1px solid #d0d0d0;
    color: #000;
}
.THIS .section_card td {
    display:flexbox;
    flex-direction:column;
}
.THIS .block_userTop {
    display: flex;
    padding:15px;
}
.THIS .wrapUserAndLogo {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 5;
}
.THIS .block_userName{
    margin-top: auto;
}
.THIS .block_companyLogo{
    align-self: flex-end;
    margin-bottom: 15px;
    flex-grow: 1;
}
.THIS .CompanyLogo {
    text-align: right;
}
.THIS .block_photo{
    flex: 2;
    padding-right: 10px;
}
.THIS .block_photo img {
    max-height:200px;
    max-width:200px;
}
.THIS .CompanyLogo img{
    width: auto!important;
    height: auto!important;
    max-height: 100px!important;
}
.THIS .block_userBottom {
   padding: 15px;
}
.THIS .block_userPhone,
.THIS .block_userAddress {
   width: 49%;
   display: inline-block;
}
.THIS .block_userAddress {
   text-align:right;
}
.THIS p.txt_bottom {
    text-align: center;
}
.THIS .FirstName {
   font-size:1.7rem;
}

.THIS .info_table .slds-grid.info {
    width: 100%;
}
.THIS .menuRA ul {
    list-style: none;
}
.THIS .menuRA ul li {
    margin-left: 0px;
}
.THIS .body_style > div{
    max-width: 100%;
}
/*end - styles for Business Cards*/

.THIS .body_style h1 {
    font-size: 17px;
    font-weight: bold;
}

.THIS .photoStyle {
    overflow-y: hidden;
}
.THIS .exceptionMessage {
    position: fixed;
    top: 10rem;
    border-radius: 0.5rem;
    min-width: 250px;
    max-width: 370px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; 
    transition: 1s linear;
    line-height: 30px;
    z-index: 9;
}
.THIS .exceptionMessage .errorMessage {
    background: rgb(201, 97, 66);
    color:#fff;
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 30px;
}
/* PDF block for desktop */
.THIS .PDFBlock {
    cursor:pointer;
}
.THIS .PDFBlock p{
    color:#4bc076;
    font-size:13px;
}
.THIS .mobile-show .PDFBlock p{
    color:#0070d2;
}
.THIS .PDFBlock p:hover {
    text-decoration:underline;
}
.THIS .PDFBlock img{
    width:25px;
    height:25px;
}
.THIS .mobile-true {
    display:none;
}
.THIS .mobile-hide {
    display:flex;
    left: 50px;
}
.THIS .isHelpful_section {
    text-align: center;
    clear: both;
    margin-top: 25px;
    justify-content: space-around;
}
.THIS .isHelpful {
    color: #4d6892;
    font-size: 0.8rem;
    margin: 5px auto;
}
/* PDF block for desktop */
.THIS .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    clear:both;
}
.THIS .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.THIS .body_style ol,
.THIS .body_style ul,
.THIS .body_style dl{
    margin-left: 25px;
    margin-top: 15px;
}

@media (max-width: 1024px) {
    .THIS.total_div {
        position: fixed;
    }
    .THIS .FirstName {
        font-size: 1.3rem;
    }
}
@media (max-width: 900px) {
    .THIS .CompanyLogo img{
        max-height: 85px!important;
    }
}
@media (max-width: 768px){
	.THIS .cncrgActionsSection .helpBlock{
		width: calc(100% - 30px);
	}
	.THIS .cncrgArticleDetails .helpIcon{
		width: 35px;
	}
    .THIS.breadcrumbs {
        padding: 15px 105px 0 15px;
    }
    .THIS .info_table {
        width: 100%;
        margin: 0;
        padding: 55px 20px 50px;
    }
    .THIS div.info_left{
        max-width:100%;
    }
    /* PDF block for mobile */
    .THIS .mobile-true {
        display:flex;
    }
    .THIS .mobile-hide {
        display:none;
    }
    .THIS .PDFBlock {
        padding:20px 0;
    }
    .THIS .block_ActionsSection.block_ActionsSectionMobile {
        border: 1px solid #ebebeb;
    }
    .THIS .PDFBlock img{
        width:18px;
        height:18px;
    }
    .THIS .PDFiconBlock {
        width:30px;
    }
    .THIS .helpArea {
        border: none;
        padding: 0;;
    }
    .THIS .isHelpful {
        margin:auto;
    }
    /* PDF block for mobile */
    .THIS .yes,
    .THIS .yes_pressed,
    .THIS .no,
    .THIS .no_pressed,
    .THIS .more{
        color: #788292;
        border: 1px solid #788292;
        border-radius: 3px;
        width: 100%;
        min-width: 250px;
        display: block;
        padding: 9px;
        margin: 10px 0;
        line-height: 16px;
        font-weight: normal;
    }
    .THIS .yes_pressed,
    .THIS .no_pressed{
        background: #f3f3f3;
    }
    .THIS .labelFeedback{
        font-weight: bold;
    }
}
.THIS .thisMessage {
    min-width: 250px;
    color: #fff;
    text-align: center;
    padding: 17px;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    border-radius: 5px;
    font-size: 17px;
    position: absolute;
    margin-bottom: 20px;
    min-height:50px;
}
.THIS .messageWrapper{
    display: none;
}
.THIS .messageWrapper.active{
    display: block;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
    animation: fadein 0.5s, fadeout 0.5s 2s;
}
.THIS .thankMessage{
    background-color:#4bc076;
}
.THIS .errorMessageVote{
    background-color:rgb(201, 97, 66);
}
@-webkit-keyframes fadein {
    from {bottom: -15px; opacity: 0;}
    to {bottom: -15px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: -15px; opacity: 0;}
    to {bottom: -15px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: -15px; opacity: 1;}
    to {bottom: -15px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: -15px; opacity: 1;}
    to {bottom: -15px; opacity: 0;}
}
@media (max-width: 500px) {
    .THIS .CompanyLogo img{
        max-height: 70px!important;
    }
    .THIS .FirstName {
        font-size: 15px;
    }
    .THIS .Title,
    .THIS .CompanyName,
    .THIS .block_userPhone,
    .THIS .block_userAddress{
        font-size: 12px;
    }
     .THIS .isHelpful {
        width: 100%;
    }
}
@media (max-width: 415px) {
    .THIS .CompanyLogo img{
        max-height: 50px!important;
    }
    
}

@media screen and (max-width: 1024px) {
    .THIS {
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }
}