.THIS {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 0 !important;
}
.THIS.addBlock{
    display : block;
}


.THIS.blockHidden{
    display:none;
}

.THIS.displayFirst{
    position: absolute;
    z-index: 1000;
    left: 100px;
}
@media (max-width: 768px) {
	.THIS.displayFirst {
		position:fixed;
	}
}