.THIS.total_div {
    position: absolute;
    top: 0;
    left: 0 !important;
    width: 100%;
    background: rgba(198, 198, 198, 0.8);
    z-index: 999;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.THIS .body_style ol,
.THIS .body_style ul,
.THIS .body_style dl {
    margin-left: 25px;
    margin-top: 15px;
}
.THIS .result_body .body_style table {
    width: inherit !important;
}
.THIS.hidden_div,
.THIS .hidden_div {
    display: none;
}

.THIS .error .bBody {
    text-align: center;
    padding-top: 0.5rem;
}

.THIS .error {
    padding: 0.5rem;
}

.THIS .tooltip {
    position: relative;
}

.THIS .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.THIS .tooltip:hover .tooltiptext {
    visibility: visible;
}

.THIS .info_div {
    background: white;
    margin: 5% auto;
    width: 100%;
    max-width: 970px;
    border-radius: 5px;
    position: relative;
}

.THIS .cross {
    cursor: pointer;
    color: grey;
    float: right;
    margin: 20px 20px 0 0;
}

.THIS .cross img {
    width: 20px;
}

.THIS .info_table .result_title {
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.THIS .info_table {
    background: white;
    color: black;
    margin: 0 20px 0 50px;
    padding: 55px 0;
}

.THIS .isHelpful {
    color: #4d6892;
    font-size: 0.8rem;
    margin: 5px auto;
}

.THIS .yes {
    color: #4bc076;
    font-size: 0.95rem;
    margin: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.THIS .no {
    color: #f089b3;
    font-size: 0.95rem;
    cursor: pointer;
    font-weight: bold;
}

.THIS .yes:hover {
    color: #346d49;
}

.THIS .no:hover {
    color: #b56988;
}

.THIS .yes_pressed {
    color: #346d49;
    font-size: 0.95rem;
    margin: 1rem;
    font-weight: bold;
}

.THIS .no_pressed {
    color: #b56988;
    font-size: 0.95rem;
    font-weight: bold;
}

.THIS .yes_disabled {
    color: #4bc076;
    font-size: 0.95rem;
    margin: 1rem;
    font-weight: bold;
}

.THIS .no_disabled {
    color: #f089b3;
    font-size: 0.95rem;
    font-weight: bold;
}

.THIS .isHelpful_section {
    text-align: center;
    clear: both;
    margin-top: 25px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.THIS .likes_section {
    font-size: 0.8rem;
    color: grey;
    padding-bottom: 1.5rem;
}

.THIS .feedback {
    float: right;
    margin: 2rem 1.5rem 0 0;
}

.THIS .feedback input {
    background: transparent;
    border: 1px solid #f88962;
    border-radius: 4px;
    color: #f88962;
    padding: 6px 17px;
}

.THIS .favorite_section {
    float: right;
    margin: 15px 20px 0;
}

.THIS .favorite_true {
    border-radius: 4px;
    color: black;
    background-size: cover !important;
    border: 0;
    outline: 0;
    padding: 0;
    width: 32px;
    height: 30px;
}

.THIS .favorite_false {
    border-radius: 4px;
    color: black;
    background-size: cover !important;
    border: 0;
    outline: 0;
    padding: 0;
    width: 32px;
    height: 30px;
}

.THIS .logATicket button {
    background: #4f81ff;
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 3px 20px;
    font-size: 0.8rem;
    min-height: 33px;
}

.THIS .body_style {
    font-size: 0.95rem;
    line-height: 1.5;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    line-break: loose;
    overflow-wrap: break-word;
    text-align: justify;
}

.THIS .body_style > div {
    height: auto !important;
    max-width: 100%;
}

.THIS .body_style > div > table {
    margin-bottom: 10px !important;
}

.THIS h1 {
    font-size: 17px;
    font-weight: bold;
}

.THIS h2 {
    font-size: 15px;
    font-weight: bold;
}

.THIS h3 {
    font-size: 14px;
    font-weight: bold;
}

.THIS h4 {
    font-size: 13px;
    font-weight: bold;
}

.THIS h5 {
    font-size: 12px;
    font-weight: bold;
}

.THIS .photoStyle {
    overflow-y: hidden;
}

.THIS .result_body .body_style table {
    margin: 0 auto;
    width: auto;
    border: 1px solid #d0d0d0;
}

.THIS .info_table:after {
    content: "";
    clear: both;
    display: block;
}

.THIS .block_ActionsSection {
    margin-left: 10px;

}

.THIS .info_left {
    width: 100%;
    max-width: calc(100% - 212px);
}

.THIS .block_ActionsSection p.suggestLabel {
    margin-bottom: 10px;
    color: #4d6892;
    line-height: 18px;
}

.THIS .helpBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 170px;
    margin-bottom: -1px;
    border: none;
    border-bottom: 1px solid #ebebeb;
}

.THIS .helpIcon {
    display: inline-block;
    width: 30px;
    vertical-align: top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* 14.05 */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 10px;
}

.THIS .helpText {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    height: 38px;
    width: calc(100% - 30px);
    line-height: 17px;
}

.THIS .helpText.logBtn {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
}

.THIS .helpText.logBtn a {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    line-height: 16px;

}

.THIS .block_ActionsSection.block_ActionsSectionMobile {
    display: none;
}

.THIS .block_RelatedArticles {
    width: 172px;
    padding: 10px;
    border: 1px solid #ebebeb;
    margin-top: 10px;
}

.THIS .headerRelatedArticle {
    text-align: center;
    color: #5271a3;
    margin: 5px 0 7px;
}

.THIS .relatedArticle_title {
    margin: 5px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    line-height: 17px;
    cursor: pointer;
}

.THIS .relatedArticle_title:last-child {
    border: none;
}

.THIS .thisMessage {
    min-width: 250px;
    color: #fff;
    text-align: center;
    padding: 17px;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -15px;
    border-radius: 5px;
    font-size: 17px;
    position: absolute;
    margin-bottom: 20px;
    min-height: 50px;
}

.THIS .messageWrapper {
    display: none;
}

.THIS .messageWrapper.active {
    display: block;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
    animation: fadein 0.5s, fadeout 0.5s 2s;
}

.THIS .thankMessage {
    background-color: #4bc076;
}

.THIS .errorMessageVote {
    background-color: rgb(201, 97, 66);
}

@-webkit-keyframes fadein {
    from {
        bottom: -15px;
        opacity: 0;
    }

    to {
        bottom: -15px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: -15px;
        opacity: 0;
    }

    to {
        bottom: -15px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: -15px;
        opacity: 1;
    }

    to {
        bottom: -15px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: -15px;
        opacity: 1;
    }

    to {
        bottom: -15px;
        opacity: 0;
    }
}

.THIS div.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    clear: both;
}

.THIS .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.THIS .errorArea {
    position: absolute;
    background: transparent;
}

.THIS .exceptionMessage {
    position: fixed;
    top: 10rem;
    border-radius: 0.5rem;
    min-width: 250px;
    max-width: 370px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    -webkit-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    line-height: 30px;
    z-index: 1;
}

.THIS .exceptionMessage .errorMessage {
    background: rgb(201, 97, 66);
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 1rem 1rem 1rem;
    line-height: 30px;
}

.THIS .more {
    color: #008bff;
    font-size: 0.95rem;
    cursor: pointer;
    font-weight: bold;
    margin-left: 1rem;
}

.THIS .more:hover {
    color: #0176d8;
}


.THIS td, .THIS th {
    border: 1px solid #d0d0d0;
}

/*start - styles for Business Cards*/
.THIS .result_body .body_style .section_card table {
    width: 100%;
}

.THIS .section_card td {
    display: flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.THIS .block_userTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
}

.THIS .wrapUserAndLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
}

.THIS .block_userName {
    margin-top: auto;
}

.THIS .block_companyLogo {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.THIS .CompanyLogo {
    text-align: right;
}

.THIS .block_photo {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding-right: 10px;
}

.THIS .block_photo img {
    max-height: 200px;
    max-width: 200px;
}

.THIS .CompanyLogo img {
    width: auto !important;
    height: auto !important;
    max-height: 100px !important;
}

.THIS .block_userBottom {
    padding: 15px;
}

.THIS .block_userPhone,
.THIS .block_userAddress {
    width: 49%;
    display: inline-block;
}

.THIS .block_userAddress {
    text-align: right;
}

.THIS p.txt_bottom {
    text-align: center;
}

.THIS .FirstName {
    font-size: 1.7rem;
}

/*end - styles for Business Cards*/



/* PDF block for desktop */
.THIS .PDFBlock {
    cursor: pointer;
}

.THIS .PDFBlock p {
    color: #4bc076;
    font-size: 13px;
}

.THIS .mobile-show .PDFBlock p {
    color: #0070d2;
}

.THIS .PDFBlock p:hover {
    text-decoration: underline;
}

.THIS .PDFBlock img {
    width: 25px;
    height: 25px;
}

.THIS .mobile-true {
    display: none;
}

.THIS .mobile-hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 72px;
}

/* PDF block for desktop */

@media (max-width: 1150px) {
    .THIS .info_div {
        margin: 10% auto;
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .THIS.total_div {
        position: fixed;
    }

    .THIS .FirstName {
        font-size: 1.3rem;
    }

    .THIS .info_div {
        margin: 110px auto;
    }
}

@media (max-width: 950px) {
    .THIS .isHelpful_section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .THIS .mobile-hide {
        position: relative;
        display: block;
    }

    .THIS .isHelpful {
        margin: 15px auto 0;
    }

    .THIS .mobile-hide {
        left: 0;
    }
}

@media (max-width: 900px) {
    .THIS .CompanyLogo img {
        max-height: 85px !important;
    }
}

@media (max-width: 768px) {
    .THIS .info_table {
        margin: 0;
        padding: 50px 20px;
    }

    .THIS .all-content {
        width: 100%;
    }

    .THIS .block_ActionsSection {
        margin-right: 0;
        margin-top: -13px;
        margin-left: 0;
        width: 100%;
    }

    .THIS .helpBlock,
    .THIS .block_RelatedArticles {
        width: calc(100% - 30px);
    }

    .THIS .relatedArticle_title {
        padding-bottom: 10px;
        margin: 10px 0;
    }

    .THIS p.result_title {
        clear: both;
    }

    .THIS .block_ActionsSection {
        display: none;
    }

    .THIS .block_ActionsSection.block_ActionsSectionMobile {
        display: block;
        margin-top: 11px;
        border: 1px solid #ebebeb;
    }

    .THIS .block_ActionsSection.block_ActionsSectionMobile p.suggestLabel {
        position: relative;
        width: 100%;
        color: #4d6892;
        font-size: .8rem;
        border-bottom: 1px solid #ebebeb;
        padding: 22px 15px 21px;
        margin-bottom: -1px;
        border: 1px solid #ebebeb;
    }

    .THIS .block_ActionsSection.block_ActionsSectionMobile p.suggestLabel:before,
    .THIS .block_ActionsSection.block_ActionsSectionMobile p.suggestLabel:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: -3px;
        left: 0;
        display: block;
        width: 15px;
        height: 4px;
        background-color: #fff;
    }

    .THIS .block_ActionsSection.block_ActionsSectionMobile p.suggestLabel:after {
        left: auto;
        right: 0;
    }
    
    .THIS .yes,
    .THIS .yes_pressed,
    .THIS .no,
    .THIS .no_pressed,
    .THIS .more {
        color: #788292;
        border: 1px solid #788292;
        border-radius: 3px;
        width: 100%;
        min-width: 250px;
        display: block;
        padding: 9px;
        margin: 10px 0;
        line-height: 16px;
        font-weight: normal;
    }

    .THIS .yes_pressed,
    .THIS .no_pressed {
        background: #f3f3f3;
    }

    .THIS .labelFeedback {
        font-weight: bold;
    }

    .THIS div.info_left {
        max-width: 100%;
    }

    /* PDF block for mobile */
    .THIS .mobile-true {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .THIS .mobile-hide {
        display: none;
    }

    .THIS .PDFBlock {
        padding: 20px 0;
    }

    .THIS .PDFBlock img {
        width: 18px;
        height: 18px;
    }

    .THIS .PDFiconBlock {
        width: 30px;
    }

    .THIS .isHelpful {
        margin: auto;
    }

    /* PDF block for mobile */
}

@media (max-width: 500px) {
    .THIS .FirstName {
        font-size: 15px;
    }

    .THIS .Title,
    .THIS .CompanyName,
    .THIS .block_userPhone,
    .THIS .block_userAddress {
        font-size: 12px;
    }

    .THIS .CompanyLogo img {
        max-height: 50px !important;
    }

    .THIS .isHelpful {
        width: 100%;
    }
}

.THIS .info_table .result_body .body_style table {
    max-width: 100%;
    width: 100% !important;
}