/**
 * Created by jbUser on 5/25/2018.
 */
.THIS.popup-wrapper {
    background: rgba(198, 198, 198, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    overflow-scrolling: touch;
    z-index: 999;
}

.THIS .popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    width: 100%;
    margin: 100px auto 50px;
}

.THIS fieldset.slds-form-element {
    color: #706e6b;
}

.THIS fieldset label.slds-checkbox {
    cursor: pointer;
}

.THIS .slds-modal__header svg {
    width: 20px;
    fill: #a7b8d1;
}

.THIS .slds-modal__header {
    border: none;
}

.THIS .slds-checkbox .slds-form-element__label,
.THIS .slds-modal__content p {
    color: #4d6892;
}

.THIS .slds-modal__content.slds-p-around_medium {
    border-radius: 0;
}

.THIS .slds-modal__header h2 {
    color: #000;
    margin: auto;
}

.THIS .slds-modal__footer {
    border: none;
    background: #fff;
}

.THIS .slds-checkbox__label {
    cursor: pointer;
}

.THIS .errorMessage {
    color: #c23934;
}

.THIS .slds-modal__footer button:disabled,
.THIS .slds-modal__footer button[disabled]:hover {
    background: #c9c7c5;
    border-color: #c9c7c5;
    color: #fff;
}

.THIS .articleFeedbackItem .slds-checkbox {
    display: inline-block;
}

.THIS .slds-modal__content {
    padding: 15px;
}

.THIS input,
.THIS textarea {
    -ms-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.THIS .btn-base,
.THIS .btn-brand {
    font-size: 14px;
}

@media(max-width: 768px) {
    .THIS .popup-container {
        width: 90%;
    }

    .THIS.popup-wrapper {
        -webkit-overflow-scrolling: touch;
    }
}