.THIS.table_wrapper table th {
    width: auto;
}
.THIS.table_wrapper table td {
    width: auto;
}

.THIS .cron-modal .slds-has-error div[role='alert'] {
    display: none;
}
.THIS .table-block .slds-form-element__help {
    margin:0;
}
.THIS .table-block {
    margin-top:25px;
}
.THIS .help-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 30px 0 10px;
    border: 2px solid #ffb75d;
    padding: 5px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 18px;
    background: rgba(255, 183, 93, 0.4);
}
.THIS .help-info span {
    font-weight: bold;
    font-size: 17px;
    color: red;
}
.THIS .help-info img {
    width:20px;
    margin-right: 10px;
}
.THIS .info_div {
    background: white;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 100px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.THIS.total_div {
    position: fixed;
    top: 0;
    left: 0 !important;
    width: 100%;
    background: rgba(198,198,198,0.8);
    z-index: 99999999;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
}

.THIS .info_table {
    background: white;
    color: black;
    /* margin: 0 4.5rem 0 4.5rem;
    padding: 2rem 0 1rem 0; */
    margin: 40px;
}

.THIS.hidden_div {
    display: none;
}
.THIS .info_divLChat{
    background: white;
    width: 450px;
    height: auto;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0 auto;

}


.THIS .cross {
    cursor: pointer;
    float: right;
    margin: 15px;
}
.THIS .cross img{
    width: 20px;
}

.THIS .slds-form-element__control .slds-select {
    background-image: none;
}

.THIS .slds-radio .slds-form-element__label {
    display: none;
}

.THIS .left-block {
    display: inline-block;
    width: 10%;
    vertical-align: bottom;
}
.THIS .right-block {
    display: inline-block;
    width: 80%;
}

.THIS legend {
    display: none;
}

.THIS .left-block .slds-radio:first-child {
    margin-bottom: 67px;
}
.THIS .left-block .slds-radio:last-child {
    margin-bottom: 8px;
}
.THIS .main-container {
    min-height: 280px;
}
.THIS .cron-output {
    /*min-width: 285px;
    max-width: 285px;
    display: inline-block;*/
    word-break: break-all;

}
.THIS.cron-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(113, 113, 113, 0.5);
    top: 0;
    left: 0;
    font-family: Helvetica, Arial, sans-serif;
    z-index: 9999;
}

.THIS.table_wrapper .slds-checkbox__label .slds-form-element__label {
    display: none;
}

.THIS.table_wrapper .slds-form-element__label {
    display: none;
}

.THIS input::-webkit-outer-spin-button,
.THIS input::-webkit-inner-spin-button{
    /* -webkit-appearance: none;*/
    z-index:99;
    opacity:0;

}

.THIS input:hover {
    cursor:default;
}
.THIS input[type='number'] {
    -moz-appearance: textfield;
    z-index:9;
}
.THIS .blockForArrows .slds-form-element__control.slds-grow {
    position:relative;
}
.THIS .blockForArrows .slds-form-element__control.slds-grow:before {
    border-bottom: 5px solid #061c3f;
    top: calc((1.75rem / 2) - 6px);
}
.THIS .blockForArrows .slds-form-element__control.slds-grow:after {
    border-top: 5px solid #061c3f;
    bottom: calc((1.75rem / 2) - 6px);
}
.THIS .blockForArrows input {
    padding-right:0;
}

.THIS .blockForArrows .slds-form-element__control.slds-grow:after,
.THIS .blockForArrows .slds-form-element__control.slds-grow:before{
    position: absolute;
    content: '';
    display: block;
    right: .5rem;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    z-index:0;
}
.THIS .right-block lightning-input {
    margin-top: 30px;
}


.THIS .right-block lightning-input:hover {
    cursor:default;
}

.THIS lightning-input.field-interval  {
    margin-top: 0;
}
.THIS .text--error {
    color: #c23934;
    line-height: 16px;
}
.THIS .right-block .slds-form-element__help.text--error {
    position: absolute;
}
.THIS .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}
.THIS .main-footer .button_section.display_true {
    margin-left: auto;
    margin-right: 0;
}
.THIS .slds-truncate .width-block{
    max-width: 250px;
}
.THIS .blockAddSetings label{
    margin-top: 10px;
}
@media (max-width: 1060px) {
    .THIS div.info_table {
        margin: 0;
        padding:30px;
    }
}
@media (max-width: 500px) {
    .THIS .info_divLChat {
        width: 310px;
        top: 15px;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .THIS iframe#myFrame {
        width: 250px!important;
        height: 300px!important;
        margin-top: 5px!important;
    }
    .THIS div.info_table {
        margin: 15px;
        padding:10px;
    }
    .THIS.total_div {
        background: rgba(198,198,198,1);
    }
}

.THIS .remove-block {
    margin:4px;
    background-color:#ffffff;
    border-radius:4px;
    border:1px solid #dddbda;
    max-width: 30px;
    height: 24px;
}
.THIS .remove-block:hover {
    background-color: #f4f6f9;
    color: rgb(37, 116, 169);
}

.THIS .remove-block label{
    width:4.0em;
}

.THIS .remove-block lightning-input{
    display: none;
}

.THIS .remove-block span{
    text-align:center;
    padding:3px 0;
    display:block;
}

.THIS .remove-block.disabled {
    opacity: 0.3;
}

.THIS .slds-truncate img {
    width: 15px;
}



.THIS .description{
    max-width: 250px;
}
.THIS .description .slds-form-element__control{
    max-width: 250px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width:1200px) {
    .THIS.table_wrapper.table_wrapper_setting > table{
        overflow-x: auto;
        display: block;
    }
    .THIS.table_wrapper.table_wrapper_setting > table > tbody {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }    
    .THIS.table_wrapper.table_wrapper_setting > table > tbody > tr:first-child {
        width: 145px;
    }
    .THIS.table_wrapper.table_wrapper_setting > table > tbody > tr > th div {
        font-weight: 600;
    }
    .THIS.table_wrapper.table_wrapper_setting > table > tbody > tr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .THIS.table_wrapper.table_wrapper_setting > table > tbody > tr > th:first-child,
    .THIS.table_wrapper.table_wrapper_setting > table > tbody > tr > td:first-child {
        padding-left: 8px;
    }
}