.THIS {
    border-bottom: 1px solid #e4e6eb;
    padding-bottom: 21px;
    word-wrap: break-word;
    word-break: break-word;
}
    
.THIS .image_styles {
    width: 100%;
}
.THIS .image_box {
    width: 43px;
    height: 43px;
}
.THIS .slds-media__body p {
    text-align: left;
}

.THIS.case_description_text {
    font-size: 14px;
    color: #1a1a1a;
}
.THIS .slds-media__body .slds-comment__content p,
.THIS .slds-media__body .slds-comment__content p span {
    font-size: 14px;
    color: #1a1a1a;
    font-weight: 700;
    margin-bottom:0;
    line-height: 18px;
}

.THIS .createdBy {
    font-size: 12px;
    color: #1a1a1a;
    font-weight: 700;
    padding-top: 13px;
}

.THIS .slds-media__figure {
    margin-top: 9px;
}

.THIS .attachment {
    float: left;
}

.THIS .attachment img{
    width: 28px;
    height: 28px;
    margin-right: 7px;
}
.THIS .attachment_info {
    float: left;
}
.THIS .info_section {
    display: inline-block;
    line-height: 22px;
    vertical-align: middle;
    font-size: 14px;
}

.THIS .info_section .uiOutputText{
    position: relative;
    top: -2px;
    color:#3ba55f;;
}
.THIS .info_section a{
    padding-left: 8px;
    color: #005fb2;
    display: inline-block;
    vertical-align: top;
}
.THIS .info_section a .uiOutputText{
    color: #005fb2;
}
.THIS .file_size {
    color: grey;
}
.THIS .display_false {
    display : none;
}

.THIS .CreatedBy .uiOutputText{
    color: #8396c6;
}

.THIS .createdBy .uiOutputDateTime{
    color: #686873;
    font-size: 11px;
    padding-left: 15px;
    position: relative;
    top: 1px;
}
.THIS .feedBody span {
    word-wrap: break-word;
    word-break: break-word;
}
.THIS .clear{
    clear: both;
}

.THIS .slds-comment__content.slds-text-longform p .uiOutputText{
    font-weight: normal;
}
.THIS .info_section>span{
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
.THIS .likeComm,
.THIS .comment {
    color: #8396c6;
    font-weight:bold;
    font-size: 12px;
}
.THIS .likeComm {
    cursor:pointer;
}
.THIS .likeCount {
    font-size:11px;
}
.THIS .margin-block {
    width: 80%;
}

.THIS.margin-block {
    padding-left: 30px;
}
.THIS.margin-block .slds-media__body {
    display: inline-block;
    vertical-align: middle;
}
.THIS.margin-block .slds-media__figure {
    margin: 0;
    display: inline-block;
}

@media (max-width: 768px) {
    .THIS .slds-media__figure {
        margin-right: 10px;
    }
    .THIS .info_section .uiOutputText {
        max-width: 180px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }
    .THIS .image_box {
        width: 32px;
        height: 32px;
    }
    .THIS .createdBy .uiOutputDateTime{
        padding-left: 0;
        display: block;
    }
}
@media (max-width: 500px) {
    .THIS .createdBy {
        flex-direction:column;
    }
    .THIS .createdDate {
        padding-top:5px;
    }
}