.THIS.total_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(198,198,198,0.8);
    height: 100%;
    min-height: 100%;
    z-index: 999;
}

.THIS.community_total_div {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 999;
}

.THIS .total_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*background: rgba(198,198,198,0.8);*/
    height: 100%;
    min-height: 100%;
    z-index: 999;
}

.THIS .total_div.no-drop{
    cursor: no-drop;
}

.THIS.hidden_div {
    display: none;
}

.THIS .info_div {
    background: white;
    margin: 5% 0 5% 25%;
    width: 50%;
    border-radius: 5px;
    color: black;
}
.THIS .spinner_info_div {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 1000;
}
.THIS .spinner_total {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*background: rgba(198,198,198,0.8);*/
    height: 100%;
    min-height: 100%;
}
.THIS .cross {
    cursor: pointer;
    color: grey;
    font-size: 2rem;
    float: right;
    margin: 10px 25px 0 0;
}
.THIS .cross img{
    width: 20px;
}
.THIS .title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 2rem;
}
.THIS .info_table {
    background: white;
    color: black;
    margin: 0 4.5rem 0 4.5rem;
    padding: 3rem 0 2.5rem 0;
}
.THIS .field_label {
    font-size: 0.8rem;
    font-weight: 500;
    color: #4d6892;
}
.THIS .description_section {
    margin-top: 15px;
}
.THIS .attachment_section {
    /*padding-top: 2rem;*/
}
.THIS .priority_section {
    padding-top: 2rem;
}
.THIS .submit_section {
    padding-top: 2rem;
    text-align: center;
}
.THIS .submit_section button{
    background: #4bc076;
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 3px 20px;
    font-size: .8rem;
}
.THIS .red_border {
    border-color: red;
}
.THIS .color_red {
    color: #f04f92;
    font-size: 1rem;
    position: relative;
    top: 2px;
}

.THIS .info_table .result_title.center{
    text-align: center;
}

.THIS .subject_section label input{
    width: 100%;
    margin-top: 6px;
    border: 1px solid #cfd7e6;
    border-radius: 4px;
    padding: 10px 15px;
}
.THIS .category_section{
    display:none;
}
.THIS .category_section_top{
    margin-top:15px;
}
.THIS .category_out{
    width: 100%;
    margin-top: 6px;
    border-radius: 4px;
    padding: 10px 15px;
    line-height: 18px;
    word-wrap: break-word;
}

.THIS .description_section textarea{
    width: 100%;
    margin-top: 6px;
    border: 1px solid #cfd7e6;
    border-radius: 4px;
    padding: 10px 15px;
}

.THIS .priority_section .priorValue{
    margin-top: 6px;
    width: 100%;
    border: 1px solid #cfd7e6;
    border-radius: 4px;
    overflow:hidden;
}

.THIS .priority_section .priorValue li{
    display: inline-block;
    /*width: 33.3333%;*/
    border-left: 1px solid #cfd7e6;
}

.THIS .priority_section .priorValue li:first-child{
    border-left: 0;
}

.THIS .priority_section .priorValue button{
    border: 0;
    padding: 10px 0;
    background: transparent;
    width:100%;
}

.THIS .priority_section .priorValue button.active{
    background: #006dd5;
    color: #fff;
}

.THIS .file_upload{
    display: inline-block;
    position: relative;
    margin: 0;
    vertical-align: top;
    margin-top: 8px;
    cursor: pointer;
}
.THIS .file_upload .button, .THIS .file_upload > mark{
    display: inline-block;
    cursor: pointer;
}
.THIS .file_upload input[type=file]{
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.THIS .file_upload .button{
    background: #ffffff;
    border: 1px solid #cfd7e6;
    border-radius: 4px;
    color: #444444;
    font-size: 13px;
    padding: 10px 20px;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.THIS .file_upload > mark{
    background: transparent;
    padding-left: 1em;
    color: #959eac;;
    font-size: 13px;
    cursor: pointer;
}

.THIS .holder_wrap{
    border: 3px dashed transparent;
}

.THIS .holder_wrap.hover{
    opacity: 0.6;
    border: 3px dashed #f79232;
}
.THIS .disabled-btn {
    opacity: 0.6;
}

.THIS .enabled-btn {
    opacity: 1;
}

.THIS .submit_section button.uiButton:hover,
.THIS .submit_section button.uiButton--default:hover{
	background:#04844b;
}
.THIS .submit_section button.uiButton:active,
.THIS .submit_section button.uiButton--default:active{
	background:#04844b;
}
.THIS .submit_section button.uiButton--default .label{
	color: #ffffff;
	text-shadow: none;
	font-weight: 100;
}

@media (max-width: 970px) {
	.THIS .info_div {
		 margin: 20% auto;
	}
	.THIS .total_div {
		 overflow: auto;
		 position: fixed;
	}
}
@media (max-width: 768px) {

	.THIS .info_div {
		width: 90%;

	}
	.THIS .info_table {
		margin: 10px;
		padding-top: 40px;
	}
	.THIS .submit_section button {
		width:100%;
		padding: 12px;
	}
    
}
.THIS .link-disabled {
        border: 1px solid red;
        border-radius: 7px;
        padding: 5px;
    }
.THIS .link-enabled {
    border: 1px solid #24ce2f;
    border-radius: 7px;
    padding: 5px;
}

.THIS .disabled {
    pointer-events: none;
}