.THIS.popup-wrapper {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background: rgba(196,196,196,0.8);
    z-index: 9999;
}

.THIS .popup-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    background: #fff; 
}

.THIS .popup-content .slds-card__body {
    background: #fff;
}

.THIS .exitBtn {
    text-align: right;
}

.THIS .exitBtn img {
    width: 20px;
    cursor: pointer;
}

.THIS .popup-header{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.THIS input,
.THIS textarea,
.THIS select {
    font-size: 14px;
}

.THIS input,
.THIS textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media (max-width: 768px) {
    .THIS .popup-content {
        width: 90%;
    }
   
}
@media (max-width: 600px) {
    .THIS.popup-wrapper {
        position: absolute;
        /* justify-content: flex-start; */
        
    }
    .THIS .popup-content {
        margin-top: 20px;
        height: 500px;
    }
   
}

/* THIS HACKS FOR SAFARI BROWSERS */

@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) {
    
	.THIS.popup-wrapper {
        position: fixed;
        top: 0;
        /* justify-content: flex-start; */
    }
    
}
/* ------------------------------------------------ */