.THIS.slds-spinner_container {
    z-index: 999999999;
    position: fixed;
}
.THIS.hidden_div, 
.THIS .hidden_div {
    display: none;
}
.THIS .my_favorites_div {
    width: 100%;
    /*background: #eef1f6;*/
    background: transparent;
    position: absolute;
    left: 0;
    height: 100%;
    /* font-family: "open_sansregular",Arial,sans-serif; */
}
.THIS .additional_shift {
    top: 80px;
}
.THIS .work_space {
    background: white;
    height: calc(100% - 80px);
    width: 970px;
    margin: 0 auto;
}

@media screen and (max-height: 900px) {
    .THIS .work_space {
        height: calc(100% - 70px);
    }
    .THIS .work_space.app {
        height: calc(100% - 70px);
    }
}

.THIS .work_space_opacity {
    opacity: 0.6;
    background: #eef1f6;
}

.THIS .zero_opacity {
    opacity: 0;
}

.THIS .new_message_section.active {
    opacity: 1;
}

.THIS .work_opacity{
    opacity:0.6;
}
.THIS .favorite_description {
    width:68%;
    height: 100%;
    float: right;
    color: black;
    overflow-y: hidden;
}
.THIS .table_with_favorites {
    width: 100%;
    /* overflow-x: hidden;
    overflow-y: auto; */
    display: inline-block;

}
.THIS .favorites_area{
    float: left;
    height:100%;
    width:32%;
    background: #e4e6eb;
    overflow-y: auto;
}

.THIS .background_area{
    background: #eef1f6 !important;
    visibility: hidden;
}
.THIS .background_none{
    background: transparent !important;

}

.THIS .clearfix{
    clear: both;
}

.THIS .table_row {
    width: 100%;
    display: block;
}
.THIS .table_cell {
    width: 100%;
    height: 140px;
    display: block;
    border: solid #fff;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom-width: 1px;
    cursor: pointer;
}
.THIS .status_div {
    color: #4bc076;
    font-size: 12px;
    padding-top: 5%;
    padding-right: 5%;
    text-align: right;
    font-weight: 700;
    text-transform: uppercase;
}
.THIS .title_div {
    font-size: 18px;
    color: black;
    font-weight: 700;
    margin-left: 10%;
    margin-top: 3%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
    min-height: 24px;
}
.THIS .opened_div {
    font-size: 0.8rem;
    color: grey;
    margin-left: 10%;
    margin-top: 3%;
}
.THIS .modified_div {
    font-size: 0.8rem;
    /*color: limegreen;*/
    color: #4bc076;
    margin-left: 10%;
    margin-top: 2%;
}
.THIS .selected_favorite_style {
    background: white !important;
}
.THIS .default_cursor {
    cursor: default;
}
.THIS .new_message_section {
    position: fixed;
    top: 10rem;
    border-radius: .5rem;
    width: 27%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    opacity: 0;
    line-height: 30px;
}
.THIS .info_message {
    background: #4f81ff;/*rgb(51, 51, 255);*/
    color: #fff;
}
.THIS .success_message {
    background: rgb(75, 202, 129);
    color: #fff;
}
.THIS .txt_Favorites {
    display:none;
}
.THIS .false.txt_Favorites{
    display:none;
}
.THIS .true.txt_Favorites{
    display:block;
}
.THIS .btn_back {
    display:none;
}
.THIS .true.btn_back{
    display: block;
    z-index: 9;
}
.THIS .showMoreLink div {
    text-align: center;
    padding: 10px;
    height: 60px;
}
.THIS .showMoreLink td {
    width: 100%;
    height: 60px;
    display: block;
    border: solid #fff;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom-width: 1px;
    cursor: pointer;
}
.THIS .favorites_areaID{
    display: contents;
}
.THIS.hidden_div, 
.THIS .hidden_div,
.THIS .display_false {
    display: none;
}
.THIS .display_true{
    display: block;
}
/* .THIS .my_favorites_div.additional_shift.background_none  .work_space{
    background:rgba(255, 255, 255, 0.6);
} */


.THIS .result_body .body_style table td, .THIS .result_body .body_style table th {
    border: 1px solid #d0d0d0;
}

@media (max-width:1350px) {
    .THIS .work_space  {
        width:65%;
    }
}
@media (max-width:1090px) {
    .THIS .work_space  {
        width:61%;
    }
}

@media (max-width: 1024px) {
    .THIS .my_favorites_div.additional_shift.background_none{
        height: calc(100% - 100px);
    }
    .THIS .my_favorites_div{
        position:fixed;
        overflow:auto;
        padding-left: 0;
        padding-right: 0;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }
    .THIS .showMoreLink div{
        background: #fff;
    }
    .THIS .additional_shift {
        top: 100px;
    }
    .THIS .work_space {
        width: 90%;
    }
    .THIS .favorites_area,
    .THIS .favorite_description  {
        width: 100%;
    }
    .THIS .favorites_area,
    .THIS .slds-scrollable {
        overflow-y: visible;
        overflow: visible;
    }
    .THIS .txt_Favorites {
        display:block;
        position: fixed;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        width: 90%;
        padding: 10px 0;
        text-shadow: 0 0 6px rgba(0, 0, 0, 1);
    }
    .THIS .btn_back {
        position: fixed;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        width: 90%;
        padding: 10px 0;
        text-shadow: 0 0 6px rgba(0, 0, 0, 1);
    }
    .THIS .favorite_description {
        width: 100%;
        overflow-y: visible;
    }
    /* .THIS .favorite_descriptionID {
        display:none;
    } */
    .THIS .work_space {
        height:auto;
    }
    .THIS .work_space.work_space_opacity{
        height: 100%;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }
    .THIS .title_div,
    .THIS .opened_div,
    .THIS .modified_div {
        margin-left: 10px;
        margin-top: 10px;
    }
    .THIS .title_div {
        font-size: 18px;
        margin-right: 10px;
        max-width:85%;

    }
        .THIS .table_cell {
        position: relative;
        background: white !important;
        border-bottom: 1px solid #ccc;
    }

    .THIS .table_cell:after {
        content: "\203A";
        position: absolute;
        color: #8199af;
        right: 27px;
        top: 50%;
        font-size: 55px;
        transform: translateY(-50%);
    }
    .THIS .background_area {
        position:absolute;
        width: 90%!important;
        height: 80%;

    }
    .THIS .work_space    {
        width:90%;
    }
    .THIS .table_with_favorites {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }
    /* .THIS .new_message_section{
        width: 40%;
        transform: translate(-50%);
        left: 50%;
    } */

}
@media (max-width: 768px) {
    .THIS .new_message_section {
        width: 265px;
    }
}
@media (max-width: 650px) {
    .THIS .new_message_section{
        left: 50%;
        transform: translate(-50%);
        font-size: 1.4rem;
    }
}
@media (max-width: 400px) {
    .THIS .title_div {
        max-width:270px;
    }
}

.THIS .show {
    display:block;
}
.THIS .hide {
    display:none;
}







.THIS.total_div {
    position: absolute;
    top: 0;
    left: 0 !important;
    width: 100%;
    background: rgba(198, 198, 198, 0.8);
    z-index: 999;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
}

.THIS.hidden_div, .THIS .hidden_div {
    display: none;
}
.THIS .error .bBody {
    text-align: center;
    padding-top: 0.5rem;
}
.THIS .error {
    padding: 0.5rem;
}
.THIS .tooltip {
    position: relative;
}
.THIS .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.THIS .tooltip:hover .tooltiptext {
    visibility: visible;
}

.THIS .info_Related_div {
    background: white;
    margin: 5% 0 5% 17%;
    width: 66%;
    border-radius: 5px;
    position: relative;
}

.THIS .cross {
    cursor: pointer;
    color: grey;
    font-size: 2rem;
    float: right;
    margin: 10px 20px 0 0;
}
.THIS .breadcrumbs {
    padding: 15px 60px 0 25px;
}
.THIS .info_table .result_title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .info_table {
    background: white;
    color: black;
    margin: 0 50px;
    padding: 3rem 0 2.5rem 0;
}

.THIS .isHelpful {
    color: #4d6892;
    font-size: 0.8rem;
}

.THIS .yes {
    color: #4bc076;
    font-size: 0.95rem;
    margin: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.THIS .no {
    color: #f089b3;
    font-size: 0.95rem;
    cursor: pointer;
    font-weight: bold;
}
.THIS .yes:hover {
    color: #346d49;
}
.THIS .no:hover {
    color: #b56988;
}

.THIS .yes_pressed {
    color: #346d49;
    font-size: 0.95rem;
    margin: 1rem;
    font-weight: bold;
}

.THIS .no_pressed {
    color: #b56988;
    font-size: 0.95rem;
    font-weight: bold;
}

.THIS .yes_disabled {
    color: #4bc076;
    font-size: 0.95rem;
    margin: 1rem;
    font-weight: bold;
}

.THIS .no_disabled {
    color: #f089b3;
    font-size: 0.95rem;
    font-weight: bold;
}

.THIS .isHelpful_section {
    /* padding: 2rem; */
    text-align: center;
    position:relative;
    height: 0;
}

.THIS .likes_section {
    font-size: 0.8rem;
    color: grey;
    padding-bottom: 1.5rem;
}

.THIS .feedback {
    float: right;
    margin: 2rem 1.5rem 0 0;
}

.THIS .feedback input {
    background: transparent;
    border: 1px solid #f88962;
    border-radius: 4px;
    color: #f88962;
    padding: 6px 17px;
}

.THIS .favorite_section {
    float: right;
    margin: 3.05rem 1.5rem 0 0;
}

.THIS .favorite_true {
    border-radius: 4px;
    color: black;
    background-size: cover !important;
    border: 0;
    outline: 0;
    padding: 0;
    width: 32px;
    height: 30px;
}

.THIS .favorite_false {
    border-radius: 4px;
    /*padding: 6px 17px;*/
    color: black;
    /*background: url('/resource/cncrg__Data/heart.png');*/
    background-size: cover !important;
    border: 0;
    outline: 0;
    padding: 0;
    width: 32px;
    height: 30px;
}

.THIS .logATicket button {
    background: #4f81ff;
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 3px 20px;
    font-size: 0.8rem;
    min-height: 33px;
}

.THIS .body_style {
    font-size: 0.95rem;
    line-height: 1.5;
}

.THIS .body_style > div {
    height: auto!important;
    max-width: 100%;
}

.THIS .body_style>div>table {
    margin-bottom: 10px!important;

}
.THIS div.info_left{
    max-width:100%;
}
/*start - styles for Business Cards*/

.THIS .result_body .body_style div.section_card table{
    width: 100%;
}
.THIS .section_card td {
    display:flexbox;
    flex-direction:column;
}
.THIS .block_userTop {
    display: flex;
    padding:15px;
}
.THIS .wrapUserAndLogo {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 5;
}
.THIS .block_userName{
    margin-top: auto;
}
.THIS .block_companyLogo{
    align-self: flex-end;
    margin-bottom: 10px;
    flex-grow: 1;
}
.THIS .block_photo{
    flex: 2;
    padding-right: 10px;
}
.THIS .block_photo img {
    max-height:200px;
    max-width:200px;
}
.THIS .CompanyLogo img{
    width: auto!important;
    height: auto!important;
    max-height: 100px!important;
}
.THIS .block_userBottom {
   padding: 15px;
}
.THIS .block_userPhone,
.THIS .block_userAddress {
   width: 49%;
   display: inline-block;
}
.THIS .block_userAddress {
   text-align:right;
}
.THIS p.txt_bottom {
    text-align: center;
}
.THIS .FirstName {
   font-size:1.7rem;
}
/*end - styles for Business Cards*/

.THIS h1 {
    font-size: 17px;
    font-weight: bold;
}

.THIS h2 {
    font-size: 15px;
    font-weight: bold;
}

.THIS h3 {
    font-size: 14px;
    font-weight: bold;
}

.THIS h4 {
    font-size: 13px;
    font-weight: bold;
}

.THIS h5 {
    font-size: 12px;
    font-weight: bold;
}

.THIS .photoStyle {
    overflow-y: hidden;
}

.THIS .result_body .body_style table {
    margin: 0 auto;
    width: inherit !important;
    border: 1px solid #d0d0d0;
}

.THIS .info_table:after {
    content: "";
    clear: both;
    display: block;
}

.THIS .block_ActionsSection {
    float: right;
    margin: 15px;
    margin-top: 49px;
    margin-right: -70px;
}

.THIS .helpArea {
    border: 1px solid #ebebeb;
    padding: 0 10px;
}

.THIS .block_ActionsSection>p {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.THIS .helpBlock {
    display: block;
    width: 150px;
    margin-bottom: -1px;
    border: none;
    border-bottom: 1px solid #ebebeb;
}

.THIS .helpIcon {
    display: inline-block;
    width: 23%;
    vertical-align: top;
}

.THIS .helpIcon img {
    position: relative;
    top: 9px;
}

.THIS .helpText {
    display: inline-block;
    width: 75%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 38px;
}

.THIS .helpText.logBtn {
    cursor: pointer;
}

.THIS .block_ActionsSection.block_ActionsSectionMobile {
    display: none;
}
.THIS .block_RelatedArticles{
    width: 172px;
    padding: 10px;
    border: 1px solid #ebebeb;
    margin-top: 10px;
}
.THIS .headerRelatedArticle{
    text-align: center;
    color: #5271a3;
    margin: 5px 0 7px;
}
.THIS .relatedArticle_title{
    margin: 5px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    line-height: 17px;
    cursor: pointer;
}
.THIS .relatedArticle_title:last-child{
    border:none;
}
/* .THIS .thankMessage{
    position: fixed;
    top: 50%;
    left: 50%;
    background: #0372d3;
    min-width: 245px;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 17px;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    z-index: 999;
    display: none;
}
.THIS .thankMessage.active{
    display: block;
} */

.THIS .thankMessage {
    display: none;
    min-width: 250px;
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color:#4bc076;
    color: #fff;
    text-align: center;
    padding: 17px;
    z-index: 9;
    left: 50%;
    top: 55px;
    border-radius: 5px;
    font-size: 17px;
    position: absolute;
}


.THIS .thankMessage.active {
    display: block;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
    animation: fadein 0.5s, fadeout 0.5s 2s;
}
@-webkit-keyframes fadein {
    from {top: 55px; opacity: 0;}
    to {top: 55px; opacity: 1;}
}

@keyframes fadein {
    from {top: 55px; opacity: 0;}
    to {top: 55px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {top: 55px; opacity: 1;}
    to {top: 55px; opacity: 0;}
}

@keyframes fadeout {
    from {top: 55px; opacity: 1;}
    to {top: 55px; opacity: 0;}
}
.THIS .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    clear:both;
}
.THIS .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.THIS .video-container iframe {
    max-width: 100%;
}
@media (max-width: 1150px) {
    .THIS .favorite_section {
        margin: 16px 1.5rem 0 0;
    }
    .THIS .info_Related_div {
        margin: 30% auto;
        width: 90%;
    }
}

@media (max-width: 768px) {
    .THIS.total_div {
        position: fixed;
    }
}

@media (max-width: 768px) {
    .THIS .info_table {
        margin: 0;
        padding: 50px 15px;
    }

    .THIS .block_ActionsSection {
        margin-right: 0;
        margin-top: -13px;
        margin-left: 0;
        width: 100%;
    }

    .THIS .helpBlock,
    .THIS .block_RelatedArticles {
        width: 100%;
    }

    .THIS .relatedArticle_title {
        padding-bottom: 10px;
        margin: 10px 0;
    }

    .THIS p.result_title {
        clear: both;
    }

    .THIS .block_ActionsSection {
        display: none;
    }

        .THIS .block_ActionsSection.block_ActionsSectionMobile {
            display: block;
            margin-top: 11px;
        }

            .THIS .block_ActionsSection.block_ActionsSectionMobile > p {
                display: none;
            }
}
@media (max-width: 450px) {
    .THIS .CompanyLogo img{
        max-height: 60px!important;
    }
}
.THIS .errorArea{
    position: absolute;
    background: transparent;
}
.THIS .exceptionMessage {
    position: fixed;
    top: 3rem;
    border-radius: 0.5rem;
    min-width: 250px;
    max-width: 370px;
    left: 50%;
    transform: translateX(-50%);
    /*text-align: center;*/
    transition: 1s linear;
    line-height: 30px;
    z-index: 1000;
}
.THIS .exceptionMessage .errorMessage {
    background: rgb(201, 97, 66);
    color:#fff;
    font-size: 1.5rem;
    padding: 0.5rem 1rem 1rem 1rem;
    line-height: 30px;
    z-index: 1001;
}

@media screen and (max-width: 375px) {
    .THIS .my_favorites_div {
        height: calc(100% - 100px);
    }   
}

@media screen and (max-width: 1024px) {
    .THIS.total_div {
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }
}