.THIS .slds-text-title_caps {
    background: #fafaf9;
}



@media screen and (max-width: 768px) {
    .THIS .slds-table tbody tr {
        display: block;
    }
    .THIS.table_wrapper table th {
        width: 100%;
        display: block;
    }
    .THIS.table_wrapper table.slds-table td { 
        width: 100%;
        display: block;        
        padding: 0;
    }    
    /* new changes */
    .THIS .slds-table tbody tr,
    .THIS .slds-table tbody tr td table {
        background-color: #fff;
    }
    .THIS .slds-table tbody tr th.row_style {
        padding-left: 0;
        width: 100% !important;
    }
    .THIS > .slds-table{
        border-top: none;
    }
    .THIS .slds-table tbody tr td table tr th.positionWidth {
        padding-left: 0.5rem;
    }
    .THIS .slds-table tbody tr td table.cncrgTypeSettingsList tr.display_true {
        display: flex;
        margin-bottom: 15px;
    }
    .THIS .slds-table tbody tr td table.cncrgTypeSettingsList tr.display_true:last-child {
        margin-bottom: 0;
    }
    .THIS .slds-table tbody tr td table.cncrgTypeSettingsList tr.display_true td.positionWidth.bgWhite {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 25px;
    }
    .THIS .slds-table tbody tr td table.cncrgTypeSettingsList tr.display_true td.bgWhite .slds-truncate select {
        max-width: none;
    }
    .THIS .slds-table tbody tr td table.cncrgTypeSettingsList tr.display_true td.action_col.bgWhite{
        margin-top: 5px;
    }
    .THIS .slds-table tbody tr td div.new_setting_style.cncrgTypeSettingsList {
        padding: 0 0 5px 0;
    }
}