.THIS.slds-spinner_container{
	position: fixed;
}
.THIS .normal_height{
	height: 1.2rem;
}
.THIS .button_section {
	padding: 15px 0 30px;
	display: inline-block;
	margin-right: 15px;
}

.THIS .display_false {
	display: none;
}

.THIS .fields-section {
	width: 50px;
	height: 50px;
	display:inline-block;
}

.THIS table.slds-table.slds-table--bordered{
	color: #16325c;
}
.THIS .table_wrapper table td table.slds-table.slds-table--bordered{
	border: 1px solid #92d7f6;
	border-bottom: none;
}
.THIS .new_setting_style.cncrgFieldList{
	border: 1px solid #92d7f6;
	border-top: none;
	padding: 1rem 0 .5rem 1rem;
	margin: 0;
}
.THIS table.slds-table.slds-table--bordered.slds-table--cell-buffer.cncrgFieldList tbody tr:nth-child(2n){
	background: #eef1f6;
}
.THIS table .slds-text-title--caps{
	font-size: .90rem;
	line-height: 2;
	color: #54698d;
	text-transform: uppercase;
	letter-spacing: .0625rem;
}
.THIS .btn_save{
	display: inline-block;
}
.THIS .table_wrapper{
	padding: 1rem;
	border: 1px solid #d8dde6;
	margin-bottom: 1rem;
}

.THIS{
	padding: 1rem;
}

.THIS .table_wrapper table td{
	width: 50%;
}

.THIS .table_wrapper table th{
	width: 50%;
}
.THIS .row_style {
	width: 20% !important;
}
.THIS .checkbox_style {
	vertical-align: bottom;
	margin-left: 5px;
}
.THIS table.slds-table.slds-table--bordered.slds-table--cell-buffer tr.slds-text-title--caps{
	color:#fff;
	background:#4d6892;
}
.THIS .table_wrapper table table.slds-table.slds-table--bordered.slds-table--cell-buffer tr.slds-text-title--caps{
	color:#fff;
	background:#92d7f6;
}
.THIS .table_wrapper table table.slds-table.slds-table--bordered.slds-table--cell-buffer tr.slds-text-title--caps.header_line th{
	color: #000;
    background: #92d7f6;
    font-weight: bold;
    text-transform: none;
}
.THIS table.slds-table_setting tbody tr:nth-child(2n){
	background:#eef1f6;
}

.THIS table.slds-table.slds-table--bordered.slds-table--cell-buffer.cncrgTypeSettingsList thead .slds-text-title--caps.header_line{
	background:#92d7f6;
}
.THIS table.slds-table.slds-table--bordered.slds-table--cell-buffer.cncrgTypeSettingsList thead tr.slds-text-title--caps.header_line:hover{
	background:#92d7f6!important;
}

.THIS table.slds-table.slds-table--bordered.slds-table--cell-buffer.cncrgTypeSettingsList{
	table-layout: fixed;
	border:none;
}
.THIS .new_setting_style.cncrgTypeSettingsList{
	border:none;
	padding: 0 0 20px 0;
	margin:0;
}
.THIS .slds-table_search tbody tr:nth-child(2n){
	background:#eef1f6;
}
.THIS .slds-table_article-set:not(.slds-no-row-hover) tbody tr:hover > td{
	background-color: transparent;
}
.THIS .slds-table_article-set:not(.slds-no-row-hover) tbody tr:hover > th{
	background-color: transparent;
}
.THIS .slds-table_article-set:not(.slds-no-row-hover) tbody tr:hover > td:not(.slds-is-selected),
.THIS .slds-table_article-set:not(.slds-no-row-hover) tbody tr:hover > th:not(.slds-is-selected) {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.THIS .slds-table_setting:not(.slds-no-row-hover) tbody tr:hover > td, .THIS .slds-table_setting:not(.slds-no-row-hover) tbody tr:hover > th{
	background-color: #d8dde6;
}
.THIS .slds-table_search:not(.slds-no-row-hover) tbody tr:hover > td, .THIS .slds-table_search:not(.slds-no-row-hover) tbody tr:hover > th{
	background-color: #d8dde6;
}
.THIS .button_section.display_false {
	display:inline-block;
	margin-right:20px;
}
.THIS .table_wrapper_setting{
	padding: 1rem;
	border: 1px solid #d8dde6;
	margin-bottom: 1rem;
	overflow: hidden;
	padding-top: 44px;
}
.THIS .table_wrapper_setting.table_wrapper .slds-table.slds-table--bordered.slds-table--cell-buffer.slds-table_setting{
	position: relative;
}
.THIS .table_wrapper_setting.table_wrapper .slds-table.slds-table--bordered.slds-table--cell-buffer.slds-table_setting thead{
	position: absolute;
	left: -17px;
	width: 110%;
	background: #4d6892;
	top: -44px;
}
.THIS .table_wrapper_setting.table_wrapper .slds-table.slds-table--bordered.slds-table--cell-buffer.slds-table_setting thead tr th{
	background: #4d6892;
	color: #fff;
}
.THIS table.slds-table.slds-table--bordered.slds-table--cell-buffer.slds-table_setting{
	border: none;
}
.THIS .table_wrapper_search{
	padding: 1rem;
	border: 1px solid #d8dde6;
	margin-bottom: 1rem;
	overflow: hidden;
	padding-top: 43px;
}
.THIS .table_wrapper.table_wrapper_search .slds-table.slds-table--bordered.slds-table--cell-buffer.slds-table_search{
	position:relative;
}
.THIS .table_wrapper.table_wrapper_search .slds-table.slds-table--bordered.slds-table--cell-buffer.slds-table_search thead{
	position: absolute;
	left: -17px;
	width: 110%;
	background: #4d6892;
	top: -44px;
}
.THIS .table_wrapper.table_wrapper_search .slds-table.slds-table--bordered.slds-table--cell-buffer.slds-table_search thead>tr>th{
	background: #4d6892;
	color: #fff;
}
.THIS .table_wrapper.table_wrapper_article{
	padding: 1rem;
	border: 1px solid #d8dde6;
	margin-bottom: 1rem;
	overflow: hidden;
	padding-top: 42px;
    background: #fff;
    border: none;
}
.THIS .table_wrapper.table_wrapper_article .slds-table.slds-table--bordered.slds-table--cell-buffer.slds-table_article-set{
	position:relative;
}
.THIS .table_wrapper.table_wrapper_article .slds-table.slds-table--bordered.slds-table--cell-buffer.slds-table_article-set>thead{
	position: absolute;
	left: -17px;
	width: 110%;
	background: #4d6892;
	top: -43px;
}
.THIS .table_wrapper.table_wrapper_article.cncrgFieldMappings .slds-table.slds-table--bordered.slds-table--cell-buffer.slds-table_article-set>thead {
	left: -6px;
}
.THIS .table_wrapper.table_wrapper_article .slds-table.slds-table--bordered.slds-table--cell-buffer.slds-table_article-set>thead>tr>th{
	background: #4d6892;
	color: #fff;
}
.THIS .table_wrapper.table_wrapper_article .slds-table.slds-table--bordered.slds-table--cell-buffer.slds-table_article-set{
	border-bottom:none;
}
.THIS .slds-table--bordered tbody td,
.THIS .slds-table--bordered tbody th{
	border-top:none;
}

.THIS .slds-table--bordered td,.THIS .slds-table--bordered th{
	border-top:none;
}

.THIS button .slds-button .slds-button--neutral .uiButton--default .uiButton{
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.THIS button .slds-button .slds-button--neutral .uiButton--default .uiButton:hover{
	background: #f3f6fb;
}
.THIS button .slds-button .slds-button--neutral .uiButton--default .uiButton:active,
.THIS button .slds-button .slds-button--neutral .uiButton--default .uiButton:focus{
	background: #e8effa;
}
.THIS button .slds-button .slds-button--neutral .uiButton--default .uiButton .label{
	text-shadow: none;
	color: #0070d2;
	font-weight: 100;
}
.THIS button .slds-button .slds-button--neutral .uiButton--default .uiButton .label:hover{
	color: #0070d2;
}
.THIS .blockButton {
	text-align: center;
}

@media (max-width: 637px){
	.THIS .table_wrapper.table_wrapper_article{
		overflow: auto;
	}
	.THIS .table_wrapper.table_wrapper_article .slds-table.slds-table--bordered.slds-table--cell-buffer.slds-table_article-set>thead{
		width:104%;
	}
}
.THIS.iconsBlock{
	text-align: center;
	font-family: "Salesforce Sans", Arial, sans-serif;
	max-width: 1000px;
	margin: 0 auto;
}
.THIS .block_btn{
	width: 270px;
	height: 200px;
	display: inline-block;
	position: relative;
	background-color: #f4f6f9;
	border-radius: .25rem;
	border: 1px solid rgb(221, 219, 218);
	margin: 20px;
}
.THIS .block_btn:hover {
	border-color: rgb(6, 28, 63);
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.THIS .block_btn button.slds-button.btn-setting,
.THIS .block_btn button.slds-button.btn-setting:hover,
.THIS .block_btn button.slds-button.btn-setting:focus,
.THIS .block_btn button.slds-button.btn-setting:active{
	height: 200px;
	width: 270px;
	background-color: transparent;
	border: 0;
	color: rgb(0, 57, 107);
	font-size: 1rem;
	font-weight: 600;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 40px;
}
.THIS .block_btn button{
	height: 200px;
	width: 270px;
	background-color: transparent;
	border: 0;
	color: rgb(0, 57, 107);
	font-size: 1rem;
	font-weight: 600;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.THIS .btnConcierge,
.THIS .btnObjectSettings,
.THIS .btnArticle,
.THIS .btnSearch,
.THIS .btnCRON,
.THIS .btnField{
	position: absolute;
	left: 50%;
	top: 40%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	border-radius: .25rem;
	padding: 5px;
	width: 60px;
	height: 60px;
}
.THIS .btnConcierge{
	background-color: #16325c;
}
.THIS .btnArticle{
	background-color: #f57376;
	padding-top: 10px;
}
.THIS .btnObjectSettings{
	background-color: #72d8f5;
	padding-top: 10px;
}
.THIS .btnSearch{
	background-color: #56aad0;
}

.THIS .btnCRON {
	background: #ef7ead;
}

.THIS .btnField{
	background-color: #50ceb9;
}
.THIS .btnConcierge img,
.THIS .btnObjectSettings img,
.THIS .btnArticle img,
.THIS .btnSearch img,
.THIS .btnCRON img,
.THIS .btnField img{
	width: 50px;
}
.THIS .button_section button,
.THIS .new_setting_style button{
	position: relative;
	display: inline-block;
	padding: 0;
	background: 0 0;
	background-clip: border-box;
	border: 1px solid transparent;
	border-radius: .25rem;
	font-size: .75rem;
	line-height: 1.875rem;
	text-decoration: none;
	color: #0070d2;
	-webkit-appearance: none;
	white-space: normal;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: color 50ms linear,background-color 50ms linear;
	-o-transition: color 50ms linear,background-color 50ms linear;
	transition: color 50ms linear,background-color 50ms linear;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #d8dde6;
	background-color: #fff;
	-webkit-box-shadow: none;
	        box-shadow: none;
	outline: none;

}
.THIS .button_section button:focus{
	outline: none;
}
.THIS .button_section button:hover,
.THIS .new_setting_style button:hover{
	background: #f3f6fb;
	color: #005fb2;
}
.THIS .button_section span,
.THIS .new_setting_style span{
	text-shadow: none;
	font-weight: normal;
	color: #005fb2!important;
}
.THIS .button_section span:hover,
.THIS .new_setting_style span:hover{
	color: #005fb2!important;
}
/* .THIS table.slds-table thead .slds-text-title--caps.header_line,
.THIS .table_wrapper.table_wrapper_article table.slds-table.slds-table--bordered.slds-table--cell-buffer thead tr.slds-text-title--caps.header_line:hover{
	background: #4d6892!important;
}
.THIS .table_wrapper table table.slds-table.slds-table--bordered.slds-table--cell-buffer{
	border: 1px solid #4d6892;
	border-bottom: none;
} */

.THIS .slds-modal__content::-webkit-scrollbar{
    width:5px;
}
.THIS .slds-modal__content::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #1a96fe;
    border-radius: 5px;
}

.THIS .slds-modal__content::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #4f81ff;
}
.THIS .slds-modal__content::-webkit-scrollbar-track{
    border-width:0;
}
.THIS .slds-modal__content::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

@media screen and (max-width: 768px) {
    .THIS .cncrgArticleSettings .slds-table tbody tr {
        display: block;
    }
    .THIS .table_wrapper.cncrgArticleSettings table th {
        width: 100%;
        display: block;
    }
    .THIS .table_wrapper.cncrgArticleSettings table.slds-table td { 
        width: 100%;
        display: block;        
        padding: 0;
    }
}

@media (max-width: 366px) {
	.THIS.iconsBlock {
	    margin: 0 -20px;
	}
	.THIS .block_btn {
		margin: 0;
		margin-bottom: 20px;
	}
}