.THIS {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    padding-bottom: 60px !important;
}

.THIS.iframeSf1Andr {
    height: calc(100% + 60px);
}

.THIS .cncrgLogTicket select.input_section.multiple_section.select{
    height: 36px!important;
    min-height: 36px!important;
    padding: 0 15px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.THIS.SFOneContainer .scrollerSize .cncrgCloseCasePopUp .popup-content {
    margin-top: 0;
}

.THIS.SFOneContainer .scrollerSize .cncrgCloseCasePopUp.popup-wrapper {
    z-index: 9999;
}