.THIS.slds-spinner_container{
	z-index: 9999999;
	position: fixed;
}
.THIS.hide_total_span {
	display: none;
}
.THIS .hide_element {
	display: none;
}
.THIS.hidden_div {
	display: none;
}
.THIS .spinner_total {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*background: rgba(198,198,198,0.8);*/
    height: 100%;
    min-height: 100%;
}
.THIS .internalAlert .updates-number-circle {
	display: inline-block;
	position: inherit;
	padding-top: 15px;
}
.THIS .internalAlert .updates-number-circle span {
	position: relative;
	vertical-align: text-top;
	padding: 0;
	font-size: 11px;
	padding-bottom: -13px;
	top: -17px;
	color: #fff;
}

.THIS .title {
	margin: 25% 0 1rem 0;
	font-size: 2rem;
	color: #fefeff;
	position: relative;
	z-index: 99;
}

.THIS .title_margin {
	margin-top: 10%;
	z-index: -1;
	min-height: 33px;
	text-shadow: 0 0 6px rgba(0, 0, 0, 1);
	font-family: "Salesforce Sans",Arial,sans-serif!important;
	font-weight: normal;
}

.THIS .searchBar {
	margin-left: 34%;
	width: 31%;
	height: 50px;
	font-size: 18px;
	vertical-align: middle;
	font-weight: 400;
	/*border: 2px solid white;*/
	border: 0 solid white;
	padding-left: 15px;
	background-color: transparent;
	color: #fff;
	/*new styles*/
	background: rgba(255, 255, 255, 0.7);
	/*border-radius: 5px;*/
	border-radius: 0;
	height: 45px;
	color: #1a1a1a;
	vertical-align: top;
	width: 100%;
	margin-left: 0;
	padding-right: 90px;
	font-size: 16px;
	outline: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.THIS .searchBar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px; 
}
.THIS .searchBar::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px; 
}
.THIS .searchBar:-ms-input-placeholder { /* IE 10+ */
  font-size: 14px; 
}
.THIS .searchBar:-moz-placeholder { /* Firefox 18- */
  font-size: 14px; 
}
.THIS input::-ms-clear {
	display: none;
}

.THIS .searchBar::-webkit-input-placeholder {
	color: #677d9b;
}

.THIS .searchBar::-moz-placeholder {
	color: #677d9b;
}

.THIS .searchBar:-moz-placeholder {
	color: #677d9b;
}

.THIS .searchBar:-ms-input-placeholder {
	color: #677d9b;
}

.THIS .search_area {
	display: block;
	text-align: center;
}

.THIS .search_area .searchBlock {
	/*width: 30%;*/
	width: 800px;
	display: inline-block;
	position: relative;
	/*left: -51px;*/
}

.THIS .search_area .exitSearch {
	position: absolute;
	width: 27px;
	height: 24px;
	background: transparent;
	border: 0;
	right: 10px;
	top: 21%;
	outline: 0;
	line-height: 11px;
}

.THIS .search_area .searchStart {
	border: 0;
	height: 45px;
	background: #008bff;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	text-transform: uppercase;
	padding-left: 25px;
	padding-right: 25px;
	position: absolute;
	right: -102px;
	top: 0px;
}

.THIS .search_area .exitSearch img {
	width: 15px;
	height: 15px;
	max-width: 15px;
}

.THIS.btnsArea {
	position: fixed;
	top: 45px;
	left: 30px;
}

.THIS .home_btn {
	border: 0;
	background: transparent;
	font-size: 1rem;
	padding: 0;
	padding-left: 3px;
	/*margin-bottom: 15px;*/
	margin-bottom: 0;
	z-index: 999999;
	text-align: left;
}

.THIS .home_btn:focus {
	outline: transparent;
}

.THIS .home_btn:active {
	outline: transparent;
}

.THIS .home_btn span {
	color: #fff;
	padding-left: 4px;
	/*font-size: 1.6rem;*/
	font-size: 1.4rem;
	vertical-align: middle;
}

.THIS .tickets {
	/*display: inline-block;*/
	/*padding-left: 50px;*/
}

.THIS .favorites {
	/*display: inline-block;*/
}

.THIS .ticket_btn {
	border: 0;
	background: transparent;
	padding: 0;
	/*margin-bottom: 15px;*/
	margin-bottom: 0;
	z-index: 999999;
}

.THIS .ticket_btn:focus {
	outline: transparent;
}

.THIS .ticket_btn:active {
	outline: transparent;
}

.THIS .ticket_btn span {
	color: #fff;
	padding-left: 5px;
	/*font-size: 1.6rem;*/
	font-size: 1.4rem;
	vertical-align: middle;
}
/* .THIS .section_nav .menu-item {
	margin-bottom: 15px;
} */
.THIS .section_nav .ticket_btn .updates-number-circle span {
	color: #fff !important;
}

.THIS .favorite_btn {
	border: 0;
	background: transparent;
	padding: 0;
	z-index: 9999999;
}

.THIS .favorite_btn:active {
	outline: transparent;
}

.THIS .favorite_btn:focus {
	outline: none;
}

.THIS .favorite_btn span {
	color: #fff;
	padding-left: 0;
	/*font-size: 1.6rem;*/
	font-size: 1.4rem;
	vertical-align: middle;
}

.THIS .big_img {
	display: inline-block;
}

.THIS .big_img svg {
	width: 29px;
	margin-right: 7px;
}

.THIS .section_nav .menu-item .big_img {
	display: inline-block;
}

.THIS .favorite1_img {
	width: 25px;
}

.THIS .favorite_btn svg {
	width: 37px;
}

.THIS .close {
	display: none;
}

.THIS .navTopMobile {
	display: none;
}

.THIS .toggleNotificationMob {
	display: none;
}

.THIS .section_nav.active .toggleNotificationMob {
	display: block;
}

.THIS .BlockLanguages{
	position: absolute;
	right: 40px;
	top: 14px;
	width: 43px;
}

.THIS .BlockLanguages select{
	border: 0;
	border-right: 1px solid #55698d;
	border-left: 1px solid #55698d;
	border-radius: 0;
	background: transparent;
	padding: 0 17px 0 5px;
	color: #55698d;
	text-transform: uppercase;
	height: 20px;
	line-height: 10px;
}

.THIS .uiInput--select.select:not([multiple]){
	padding: 0 17px 0 5px;
}

.THIS .uiInput--select.select:active,
.THIS .uiInput--select.select:not([multiple]){
	background-color: transparent;
}
.THIS .section_nav .home_btn span.internalAlert .updates-number-circle span{
	color: #fff!important;
}
@media (max-width: 1170px) {
	.THIS .search_area .searchBlock {
		width: 60%;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	}
}

@media (max-width: 1024px) {
	.THIS .big_img {
		display: none;
	}
	.THIS .wrapMenuBg{
		display: none;
		position: fixed;
		width: calc(100% - 250px);
		height: 100%;
		top: 0;
		right: 0;
	    background: rgba(204, 204, 204, 0);
	    z-index: 999;
	}
	.THIS .wrapMenuBg.active{
		display: block;
	}
	.THIS {
		margin-top: 5.5em;
	}
	.THIS .search_area .searchBlock {
		width: 90%;
	}
	.THIS.btnsArea {
		position: relative;
	}
	.THIS .section_nav {
		background: #fff;
		color: #000;
		padding: 5em 1em;
		position: fixed;
		left: -257px;
		top: 0;
		height: 100%;
		z-index: 99999;
		width: 250px;
		display: block;
		-webkit-transition: all 0.2s ease-out 0.3s;
		-moz-transition: all 0.2s ease-out 0.3s;
		-o-transition: all 0.2s ease-out 0.3s;
		transition: all 0.2s ease-out 0.3s;
		box-shadow: 0 0 6px rgba(0, 0, 0, 1);
	}
	.THIS .section_nav.active {
		left: 0;
	}
	.THIS .section_nav .home_btn svg g,
	.THIS .section_nav .ticket_btn svg g,
	.THIS .section_nav .favorite_btn svg g {
		fill: #000;
	}
	.THIS .section_nav .home_btn span,
	.THIS .section_nav .ticket_btn span,
	.THIS .section_nav .favorite_btn span {
		color: #000!important;
	}
	.THIS .navTopMobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		background: #fff;
		height: 4em;
		position: fixed;
		z-index: 9999999;
		left: 0;
		top: 0;
	}
	.THIS .navTopMobile .titleMobile {
		font-size: 19px;
		width: 100%;
		text-align: center;
		color: #000;
		padding: 0 40px;
		line-height: 22px;
	}
	.THIS .navTopMobile .navActivatorMobile {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 20px;
		width: 70px;
		height: 52px;
		display: block;
	}
	.THIS .navTopMobile .navActivatorMobile:after {
		color: #000;
		position: absolute;
		top: 6px;
		left: 15px;
		font-size: 40px;
	}
	.THIS .navTopMobile .navActivatorMobile:after {
		content: '\003D';
	}
	.THIS .navTopMobile .navActivatorMobile.active:after {
		content: '\2716';
		top: 13px;
		left: 15px;
		font-size: 25px;
	}
	.THIS .navTopMobile .updates-number-circle {
		top: 4px!important;
		left: 28px!important;
		z-index: 9;
	}
	.THIS .navTopMobile .navActivatorMobile.active .updates-number-circle {
		display: none !important;
	}
	.THIS div.section_nav.active .tickets .toggleNotificationMob .updates-number-circle {
		display: block;
		top: 105px;
		left: 157px;
	}
	.THIS .internalAlert {
		display: inline-block;
	}
	.THIS .internalAlert .updates-number-circle {
		left: 182px !important;
		top: 116px !important;
	}
	.THIS .title_margin {
		z-index: 2;
	}
	.THIS .internalAlert .updates-number-circle span{
	    color: #fff!important;
	}
}

@media (max-width: 768px) {
	.THIS {
		margin-top: 5.5em;
	}
	.THIS .search_area .searchBlock {
		width: 90%;
	}
	.THIS.btnsArea {
		position: relative;
	}
	.THIS .section_nav .home_btn svg g,
	.THIS .section_nav .ticket_btn svg g,
	.THIS .section_nav .favorite_btn svg g {
		fill: #000;
	}
	.THIS .section_nav .home_btn span,
	.THIS .section_nav .ticket_btn span,
	.THIS .section_nav .favorite_btn span {
		color: #000!important;
	}
	.THIS .navTopMobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		background: #fff;
		height: 4em;
		position: fixed;
		z-index: 9999999;
		left: 0;
		top: 0;
	}
	.THIS .navTopMobile .titleMobile {
		font-size: 19px;
		width: 100%;
		text-align: center;
		color: #000;
		padding: 0 40px;
		line-height: 22px;
	}
	.THIS .navTopMobile .navActivatorMobile {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 20px;
		width: 70px;
		height: 52px;
		display: block;
	}
	.THIS .navTopMobile .navActivatorMobile:after {
		color: #000;
		position: absolute;
		top: 6px;
		left: 15px;
		font-size: 40px;
	}
	.THIS .navTopMobile .navActivatorMobile:after {
		content: '\003D';
	}
	.THIS .navTopMobile .navActivatorMobile.active:after {
		content: '\2716';
		top: 13px;
		left: 15px;
		font-size: 25px;
	}
	.THIS .title_margin {
		z-index: 2;
	}
}