.THIS.slds-spinner_container {
    z-index: 9999;
    position: fixed;
}

.THIS .lightning-formattedRichText,
.THIS .lightning-formattedRichText span,
.THIS .snippetText {
    word-wrap: break-word;
    font-size: 13px;
    line-height: 16px;
}

.THIS.search_suggest_total_div {
    width: 100%;
    color: black;
    margin-left: 0;
    margin-top: -3px;
    position: absolute;
    left: 0;
    border-radius: 4px;
    z-index: 1;
}

.THIS.search_res_total_div {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    margin-top: -3px;
}

.THIS.hidden_div {
    display: none;
}

.THIS .no_res_hidden {
    display: none;
}

.THIS .no_res {
    padding: 1rem 2rem 2rem 2rem;
}

.THIS .no_res_message {
    margin: 0 0 2rem 0;
    color: black;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .results_section_title {
    padding: 2rem 2rem 1rem 2rem;
    color: gray;
}

.THIS .whitesmokeBg_true {
    background: whitesmoke !important;
}

.THIS .title {
    margin: 1rem;
    font-size: 1.5rem;
}

.THIS .suggestions_table {
    text-align: left;
    width: 800px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
    position: relative;
    left: 0px;
    max-height: 9.375rem;
    overflow: auto;
    display: block;
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-overflow-scrolling: touch;
}

.THIS .results_table {
    width: 960px;
    height: 100%;
    background: whitesmoke;
    margin: 10px auto 0 auto;
    table-layout: fixed;
    white-space: normal;
}

.THIS .results_table table {
    table-layout: fixed;
}

.THIS .results_table table tr td hr.divider {
    display: none;
}

.THIS .total_row {
    width: 100%;
    height: 25rem;
}

.THIS .results_section {
    width: 35%;
    margin: 0 0 10px 0;
    display: inline-block;
    max-height: calc(25rem - 65px);
    overflow: auto;
}

.THIS .snippet_section {
    width: 65%;
    background: white;
    color: black;
    border-bottom-right-radius: 5px;
    display: inline-block;
    vertical-align: top;
    height: 25rem;
    overflow: auto;
    padding: 25px 10px 0;
}

.THIS .tr_suggest span.suggestionClass {
    cursor: pointer;
    display: block;
    width: 100%;
    color: #008bff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .snippet_table {
    padding-left: 5rem;
}

.THIS .result_title {
    font-size: 1.0rem;
    font-weight: 700;
    padding-bottom: 15px;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .viewFull {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.THIS .viewFull a {
    font-size: 0.9rem;
}

.THIS .likes_section {
    font-size: 0.8rem;
    color: grey;
    padding-bottom: 15px;
}

.THIS .logATicket button {
    background: #006dd5;
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 3px 20px;
    font-size: 0.8rem;
}

.THIS .logATicket {
    display: inline-block;
    margin-right: 10px;
}

.THIS .logATicket > a {
    text-decoration: none;
    border-radius: 4px;
    font-size: .8rem;
    padding: 5px 20px;
    text-align: center;
    vertical-align: middle;
    border: none;
    transition: border 0.15s linear;
    background-color: #0070d2;
    color: white;
    line-height: 30px;
    display: inline-block;
}

.THIS .logATicket > a:hover {
    background-color: #005fb2;
    color: white;
}

.THIS .logATicket p {
    color: #4d6892;
    font-size: 0.8rem;
    padding-top: 21px;
}

.THIS .logATicket .helpArea {
    width: 100%;
    padding: 15px 0;
    border: none;
}

.THIS .logATicket .helpArea .helpBlock.cursor {
    cursor: pointer;
}

.THIS .logATicket .helpArea .helpBlock:first-child {
    margin-left: 0;
}

.THIS .logATicket .helpArea .helpBlock .helpIcon {
    display: inline-block;
    width: 23%;
}

.THIS .logATicket .helpArea .helpBlock .helpIcon img {
    position: relative;
}

.THIS .logATicket .helpArea .helpBlock .helpText {
    display: inline-block;
    vertical-align: middle;
    width: 75%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 38px;
}

.THIS .logATicket .helpArea .helpBlock .helpText a {
    background: transparent;
    border: 0;
    color: #0070d2;
    font-size: 13px;
    padding: 0;
    line-height: normal;
    text-align: left;
}

.THIS .logATicket .helpArea .helpBlock .helpText a:hover {
    text-decoration: underline;
}

.THIS .helpText.logBtn {
    color: #0070d2;
    font-size: 13px;
    position: relative;
    top: 9px;
}

.THIS .helpText .callText {
    color: #0070d2;
    font-size: 13px;
    height: 17px;
    line-height: 20px;
}

.THIS .helpText .callNumber {
    color: #000000;
    font-size: 0.8rem;
    position: relative;
    word-wrap: normal;
    top: 2px;
}

.THIS .tr_style .resTitle {
    padding: 14px 30px;
    color: #008bff;
    margin: 0;
    background: transparent;
    cursor: pointer;
    line-height: 16px;
    font-size: 13px;
    margin: 0 0 0 10px;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .tr_style .resTitle.active {
    color: #000;
    background: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.THIS .tr_suggest {
    display: block;
    cursor: pointer;
}

.THIS .activated_tr_suggest {
    background: rgba(115, 115, 115, 0.15);
    color: white !important;
}

.THIS .tr_suggest td {
    padding: 6px 15px;
}

.THIS .suggest_title {
    font-size: 18px;
    color: #999999;
}

.THIS .tr_suggest td,
.THIS .tr_suggest td span {
    font-size: 16px;
    color: #1a1a1a;
}

.THIS .CaseIcon {
    background-image: url(/img/sprites/master.png);
    background-position: 0px -616px;
    width: 20px;
    height: 20px;
    background-size: 100%;
}

.THIS .ArticleIcon {
    background-image: url(/img/knowledge/knowledge32.png);
    width: 20px;
    height: 20px;
    background-size: 100%;
}

.THIS .divider {
    background: #eef1f6;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 0;
}

.THIS .setup_actions_btn {
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 3px 20px;
    font-size: 14px;
    margin-bottom: 17px;
    min-height: 33px;
}

.THIS .pagitation_section {
    position: absolute;
    bottom: 0;
    padding: 15px 0 15px 1px;
    width: 336px;
    text-align: center;
    background: #f5f5f5;
}

.THIS .current_page {
    color: #c4c9cd;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
    width: 18% !important;
}

.THIS .navigation_link {
    margin-right: 1px;
    margin-left: 1px;
}

.THIS .display_false {
    display: none;
}

.THIS .disabled_navigation_true {
    text-decoration: none;
    color: #008bff;
    cursor: default;
}

.THIS .nextP:hover,
.THIS .lastP:hover {
    text-decoration: none;

}

.THIS .ResultsLeftTable {
    margin-bottom: 60px;
}

.THIS .pagitation_section a,
.THIS .pagitation_section span span {
    display: inline-flex;
    width: 30px;
    height: 30px;
    vertical-align: top;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.THIS .pagitation_section a:hover {
    text-decoration: none;
}

.THIS .nextP:before {
    content: "\2039";
    font-size: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
}

.THIS .nextP {
    margin-right: 3px;
}

.THIS .lastP:before {
    content: "\203A";
    font-size: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;

}

.THIS .lastP {
    margin-left: 3px;
}

.THIS .navigation_link.nextP,
.THIS .navigation_link.lastP {
    position: relative;
    margin-top: -1px;
    border: 2px solid #c4c9cd;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    font-size: 27px;
    border-radius: 5px;
    color: #c4c9cd;
}

.THIS a.navigation_link.disabled_navigation_false:hover {
    color: #fff;
    background: #c4c9cd;
    text-decoration: none;
    border-radius: 5px;
}

.THIS .clickable_page_false {
    text-decoration: none;
    cursor: default;
}

.THIS .selected_page_true {
    background: #c4c9cd;
    border-radius: 5px;
    color: #fff;
}

.THIS.btn_returnBack {
    display: none;
    margin: 12px 0 15px 5%;
    text-shadow: 0 0 4px rgba(0, 0, 0, 1);
    font-size: 20px;
    cursor: pointer;
}

.THIS.true.btn_returnBack,
.THIS.show.btn_returnBack {
    display: block;
}


@media (max-width: 1450px) {
    .THIS .FirstName {
        font-size: 1.7vw;
    }

}

@media (max-width: 1170px) {
    .THIS .suggestions_table {
        width: 60%
    }
}

@media (max-width: 1060px) {
    .THIS .info_table {
        margin: 0;
        padding: 20px;
    }

    .THIS .FirstName {
        font-size: 2.5vw;
    }
}


@media (max-width: 1024px) {
    .THIS .FirstName {
        font-size: 2.5vw;
    }

    .THIS .total_row .results_section {
        height: 90%;
        max-height: 90%;
    }

    .THIS .suggestions_table {
        width: 90%;
        max-height: 85%;
    }

    .THIS .results_section {
        width: 98%;
        position: relative;
    }

    .THIS .results_table {
        width: 90%;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .THIS .snippet_section {
        width: 100%;
        overflow: visible;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .THIS .pagitation_section {
        margin: 19px 0 -4px 1px;
        width: 99%;
        background: #fff;
    }

    .THIS .results_section {
        overflow: visible;
    }

    .THIS .total_row {
        height: auto;
    }

    .THIS .logATicket button {
        width: 100%;
    }

    .THIS .total_row {
        background: #fff;
    }

    .THIS table.suggestions_table .tr_suggest {
        border-bottom: 1px solid #ccc;
        padding: 6px 0;
    }

    .THIS .tr_suggest td {
        padding: 0;
        width: 100%;
        display: block;
    }

    .THIS .tr_suggest span.suggestionClass {
        width: 100%;
        display: block;
        padding: 8px;
        line-height: 16px;
    }

    .THIS .show {
        display: table-cell;
    }
}
@media (min-width: 769px) {
    .THIS .logATicket .helpArea .helpBlock:first-child {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .THIS .logATicket .helpArea {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 0;
        margin-bottom: 15px;
    }
    .THIS .logATicket p {
        position: relative;
        color: #4d6892;
        font-size: 0.8rem;
        border: 1px solid #ebebeb;
        padding: 22px 15px 21px;
        margin-bottom: -16px;
    }
    .THIS .logATicket p:before,
    .THIS .logATicket p:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: -3px;
        left: 0;
        display: block;
        width: 15px;
        height: 4px;
        background-color: #fff;
    }
    .THIS .logATicket p:after {
        left: auto;
        right: 0;
    }
    .THIS .logATicket .helpArea .helpBlock.display_true {
        position: relative;
        border: 1px solid #ebebeb;
        border-bottom: none;
        border-top: none;
    }
    .THIS .logATicket .helpArea .helpBlock.display_true:first-child {
        border-top: 1px solid #ebebeb;
    }
    .THIS .logATicket .helpArea .helpBlock.display_true:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 15px;
        display: block;
        width: calc(100% - 30px);
        height: 1px;
        background-color: #ebebeb;
    }
    .THIS .tr_style .resTitle {       
        max-width: calc(100vw - 48px);
    }
}

@media (max-width: 728px) {
    .THIS .FirstName {
        font-size: 3.3vw;
    }

    .THIS .block_userBottom {
        padding: 0 15px 15px;
    }
    
    .THIS .results_table table.ResultsLeftTable {
        display: block;
        max-height: calc(100vh - 260px);
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 550px) {
    .THIS .FirstName {
        font-size: 15px;
    }
}

@media (max-width: 530px) {
    .THIS .section_card {
        font-size: 2.7vw;
        margin-bottom: 10px;
    }

    .THIS .block_userTop,
    .THIS .block_userBottom {
        padding: 5px;
    }

    .THIS .info_table {
        padding: 10px;
    }

    .THIS .results_table table button.slds-button.slds-button--neutra {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
    }

}

.THIS .more-line-height {
    line-height: 1.2;
}

.THIS .hide {
    display: none;
}

.THIS.show {
    display: block;
}

.THIS .setup_actions_btn.uiButton:hover,
.THIS .setup_actions_btn.uiButton--default:hover,
.THIS .logATicket .uiButton:hover,
.THIS .logATicket .uiButton--default:hover {
    background: #005fb2;
}

.THIS .setup_actions_btn.uiButton:active,
.THIS .setup_actions_btn.uiButton--default:active,
.THIS .logATicket .uiButton:active,
.THIS .logATicket .uiButton--default:active,
.THIS .setup_actions_btn.uiButton:focus,
.THIS .setup_actions_btn.uiButton--default:focus,
.THIS .logATicket .uiButton:focus,
.THIS .logATicket .uiButton--default:focus {
    background: #00396b;
}

.THIS .setup_actions_btn.uiButton--default .label,
.THIS .logATicket .uiButton--default .label {
    color: #ffffff;
    text-shadow: none;
    font-weight: normal;
}

.THIS table.results_table td.logATicket {
    width: 100%;
}

.THIS .updateIndicator{
    font-family: Arial,Helvetica,sans-serif;
    font-size:10px;
    color:#cb4d3d;
}

.THIS .logATicket .helpBlock .helpText {
    position: relative;
    top: 10px;
}

.THIS .helpBlock .helpText .suggestsBtn {
    line-height: 16px;
}

.THIS .logATicket .helpBlock .helpText.callBtn {
    top: 2px;
}

.THIS .logATicket .helpArea .helpBlock .helpText{
    top: 0;
    height: auto !important;
}

.THIS table.results_table td.logATicket .helpArea .helpBlock {    
    margin-left: 0;
}

.THIS.search_res_total_div.slds-scrollable {
    -webkit-overflow-scrolling: auto!important;
}