.THIS .error-message{
    color: red;
    padding-top: 3px;
}

.THIS .hidden{
    display:none;
}

.THIS .input_cls{
    padding: 0.7em;
}


.THIS .isNoValid{
    color: red;
}

.THIS .isValid{
    color: green;
}
.THIS .tg  {border-collapse:collapse;border-spacing:0;}
.THIS .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.THIS .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.THIS .tg td {border-color:inherit;text-align:left;vertical-align:top}
.THIS .tg .green-row{background-color:#008414;color:#ffffff;border-color:inherit;text-align:left;vertical-align:top}

/* NEW CHANGES */
@media screen and (max-width: 767px) {
    .THIS.table_wrapper .slds-table {
        border: none;
    }
    .THIS.table_wrapper .slds-table tbody tr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: calc(100vw - 4rem);
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .THIS.table_wrapper .slds-table tbody tr th {
        width: 100%;
        padding: .5rem;
        background-color: #eef1f6;
    }
    .THIS.table_wrapper .slds-table tbody tr td {
        width: 100%;
        padding: 0;
    }
}