.THIS .slds-form-element__control select{
    appearance: none;
    -webkit-appearance: none;
    background-image: url(/resource/1510919235000/cncrg__Media/select.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px;
    background-position-x: 97%;
        /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
    cursor: pointer;
    padding-right: 21px;
}
.THIS .slds-form-element__control select::-ms-expand{
    display: none;
}
.THIS.hidden_div {
	display: none;
}