.THIS .callBtnRow {
	display: -webkit-box !important;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	max-width: 100%;
	overflow: hidden!important;
	text-overflow: ellipsis!important;
	margin-top: 0;
	white-space: initial!important;	
}