.THIS.total_div {
    font-weight: normal;
}

.THIS div label.uiLabel {
    line-height: 14px;
}

.THIS .slds-spinner_container {
    z-index: 999999999;
    position: fixed;
}

.THIS.total_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(198, 198, 198, 0.8);
    height: 100%;
    min-height: 100%;
    z-index: 1500;
}

.THIS.community_total_div {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 1500;
}

.THIS .total_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 1500;
}

.THIS .total_div.no-drop {
    cursor: no-drop;
}

.THIS.hidden_div {
    display: none;
}

.THIS .hidden_div {
    display: none;
}

.THIS div.info_div {
    background: white;
    margin: 5% 0 5% 25%;
    width: 50%;
    border-radius: 5px;
    color: black;
}

.THIS .spinner_wrapper .spinner_info_div,
.THIS.spinner_wrapper .spinner_info_div {
    top: 50% !important;
    left: 50% !important;
    position: absolute !important;
    z-index: 2000 !important;
    width: auto !important;
}

.THIS .spinner_total,
.THIS.spinner_total {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 9999999;
}

.THIS .cross {
    cursor: pointer;
    color: grey;
    font-size: 2rem;
    float: right;
    margin: 10px 25px 0 0;
}

.THIS .cross img {
    width: 20px;
}

.THIS .title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 2rem;
}

.THIS .info_table {
    background: white;
    color: black;
    margin: 0 25px;
    padding: 3rem 0 2.5rem 0;
}

.THIS .info_table .toggle-style lightning-input.slds-form-element label{
    display: inline-flex;
    width: auto;
}

.THIS .field_label {
    font-size: 0.8rem;
    font-weight: 500;
    color: #4d6892;
}

.THIS .description_section {
    margin-top: 15px;
}

.THIS .priority_section {
    padding-top: 2rem;
}

.THIS .submit_section {
    padding-top: 2rem;
    text-align: center;
}

.THIS .submit_section button {
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 3px 20px;
    font-size: 14px;
    min-height: 33px;
    box-shadow: none;
    line-height: 1.875rem;
    min-width: 120px;
}

.THIS .red_border {
    border-color: red;
}

.THIS .color_red {
    color: #f04f92;
    font-size: 1rem;
    position: relative;
    top: 2px;
}

.THIS .info_table .result_title.center {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    padding-bottom: 30px;
    background: transparent !important;
}

.THIS .subject_section label input {
    width: 100%;
    margin-top: 6px;
    border: 1px solid #cfd7e6;
    border-radius: 4px;
    padding: 10px 15px;
}

.THIS .category_section {
    display: none;
}

.THIS .category_section_top {
    margin-top: 15px;
}

.THIS .category_out {
    width: 100%;
    margin-top: 6px;
    border-radius: 4px;
    padding: 10px 15px;
    line-height: 18px;
    word-wrap: break-word;
}

.THIS .description_section textarea {
    width: 100%;
    margin-top: 6px;
    border: 1px solid #cfd7e6;
    border-radius: 4px;
    padding: 10px 15px;
}

.THIS .priority_section .priorValue {
    margin-top: 6px;
    width: 100%;
    border: 1px solid #cfd7e6;
    border-radius: 4px;
    overflow: hidden;
}

.THIS .priority_section .priorValue li {
    display: inline-block;
    border-left: 1px solid #cfd7e6;
}

.THIS .priority_section .priorValue li:first-child {
    border-left: 0;
}

.THIS .priority_section .priorValue button {
    border: 0;
    padding: 10px 0;
    background: transparent;
    width: 100%;
}

.THIS .priority_section .priorValue button.active {
    background: #006dd5;
    color: #fff;
}

.THIS .file_upload {
    display: inline-block;
    position: relative;
    margin: 0;
    vertical-align: top;
    margin-top: 8px;
    cursor: pointer;
}

.THIS .file_upload .button,
.THIS .file_upload > mark {
    display: inline-block;
    cursor: pointer;
}

.THIS .file_upload input[type=file] {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: -1;
    width: 0;
}

.THIS .file_upload .button {
    background: #ffffff;
    border: 1px solid #cfd7e6;
    border-radius: 4px;
    color: #444444;
    font-size: 13px;
    padding: 10px 20px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

.THIS .file_upload > mark {
    background: transparent;
    color: #959eac;
    font-size: 13px;
    cursor: pointer;
}

.THIS .holder_wrap {
    border: 3px dashed transparent;
}

.THIS .holder_wrap.hover {
    opacity: 0.6;
    border: 3px dashed #f79232;
}

.THIS .disabled-btn {
    opacity: 0.6;
}

.THIS .enabled-btn {
    opacity: 1;
}

.THIS .submit_section button.uiButton:hover,
.THIS .submit_section button.uiButton--default:hover {
    background: #04844b;
}

.THIS .submit_section button.uiButton:active,
.THIS .submit_section button.uiButton--default:active {
    background: #04844b;
}

.THIS .submit_section button.uiButton--default .label {
    color: #ffffff;
    text-shadow: none;
    font-weight: normal;
}

.THIS .info_table .input_section {
    padding: 0px 15px;
    min-height: 34px;
    line-height: 16px;
}

.THIS .info_table .cncrgFieldSetForm input[type=checkbox] {
    width: 22px;
    margin: 0 0 0 7px;
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    padding: 0;
}

.THIS .uiInput--datetime input {
    height: 36px !important;
}

.THIS span.slds-pill__action {
    border: 0;
    line-height: 31px;
    padding-right: 30px;
}

.THIS span.slds-file-selector__button{
    padding: 0 7px;
}

.THIS .slds-pill-container.slds-show {
    padding: 0;
}

.THIS input,
.THIS span.slds-pill__action {
    min-height: 36px;
}

.THIS .slds-form-element__control input,
.THIS .slds-pill-container {
    border: 1px solid #cfd7e6;
}

.THIS .cncrgFieldSetForm {
    margin-bottom: 20px;
}

.THIS .slds-listbox__item span.slds-media__figure,
.THIS span.slds-pill__icon_container {
    display: none;
}

.THIS .cncrgFieldSetForm label {
    padding: 0;
}

.THIS button.slds-button.slds-pill__remove.slds-button_icon-bare {
    right: 2.7%;
}

.THIS lightning-icon.slds-input__icon.slds-show.slds-icon-utility-search.slds-icon_container {
    right: 3%;
}

.THIS lightning-icon.slds-input__icon.slds-show.slds-icon-utility-search.slds-icon_container svg {
    width: 14px;
}

.THIS button.slds-button.slds-pill__remove.slds-button_icon-bare svg,
.THIS lightning-icon.slds-input__icon.slds-show.slds-icon-utility-search.slds-icon_container svg {
    fill: #627495;
}

.THIS span.slds-listbox__option-text.slds-listbox__option-text_entity {
    line-height: 27px;
}

.THIS .uiInputDate .form-element a {
    display: none;
}

.THIS .uiInput--datetime input {
    line-height: 15px;
    -webkit-appearance: none;
    background-image: url(/auraFW/resources/aura/images/icon_openCalendar.png);
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px;
    background-position-x: 97%;
    width: 100%;
    border: 1px solid #cfd7e6;
    border-radius: 4px;
    height: 36px !important;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
    cursor: pointer;

}

.THIS .uiInput--datetime input[type="date"]::-webkit-calendar-picker-indicator,
.THIS .uiInput--datetime input[type="date"]::-webkit-inner-spin-button {
    opacity: 0;
}

.THIS select.input_section.multiple_section.select {
    min-height: 72px !important;
    width: auto;
    display: block;
    min-width: 200px;
    background-image: none;
    padding: 0;
}

.THIS select.input_section.multiple_section.select option {
    white-space: normal;
    padding: 3px 5px;
}

@media (max-width: 970px) {
    .THIS div.info_div {
        margin: 20% auto;
    }

    .THIS .total_div {
        overflow: auto;
        position: fixed;
        scroll-behavior: smooth;
    }
}

@media (max-width: 768px) {
    .THIS div.info_div {
        width: 90%;
    }

    .THIS .info_table {
        margin: 10px;
        padding-top: 40px;
    }
}
@media (pointer:coarse){
    .THIS .total_div{
        overflow-y: scroll;
        overflow-scrolling:touch;
        -webkit-overflow-scrolling:touch;
    }
}