.THIS.helpArea {
    border: 1px solid #ebebeb;
}

.THIS.helpArea .helpBlock {
    border-bottom: 1px solid #ebebeb;
    padding: 10px;
    margin: 0 15px -1px;
}

.THIS .logATicket .helpArea{
    width: 100%;
    padding: 15px 0;
}
.THIS button.slds-button.slds-button--neutral.logBtn.uiButton {
    background: transparent;
    color: #008bff;
    font-size: 15px;
    line-height: 19px;
    outline:none;
    border: 0;
}
.THIS button.logBtn.uiButton--default.uiButton {
    background: transparent;
    color: #008bff;
    font-size: 15px;
    line-height: 10px;
    outline: none;
    border: 0;
    box-shadow: none;
    font-weight: 300;
}
.THIS button.logBtn.uiButton--default.uiButton span,
.THIS button.logBtn.uiButton--default.uiButton span:hover{
    color: #008bff;
    font-size: 15px;
    text-shadow:none;
}

.THIS .helpBlock{
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    width: 30%;
    margin-right: 3%;
    padding-top:10px;
    padding-bottom: 10px;
    min-height: 63px;
    vertical-align: top;
    margin-bottom: -1px;
}

.THIS .helpIconWrapper {
    display: flex;
    align-items: center;
    height: 41px;
}

.THIS .logATicket .helpArea .helpBlock.cursor{
    cursor: pointer;
}

.THIS .logATicket .helpArea .helpBlock:first-child{
    margin-left: 0;
}

.THIS .logATicket .helpArea .helpBlock .helpIcon{
    display: inline-block;
    width: 23%;
    vertical-align: top;
}

.THIS .logATicket .helpArea .helpBlock .helpIcon img{
    position: relative;
    top: 9px;
}

.THIS .logATicket .helpArea .helpBlock .helpText{
    display: inline-block;
    width: 75%;
    text-align: left;
}

.THIS .callNumber {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-bottom:2px;
}

.THIS .callNumber1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 9px;
         
}

.THIS .helpBlock .suggestsBtn {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    margin-top: 0;
    white-space: initial !important;
}

.THIS .helpBlock .align-btn {
    display: flex;
    align-items: center;
}

.THIS .callNumber1 a{
    font-size: 13px;
}

.THIS .helpBlock .helpText {
    white-space: initial;
    overflow: visible;
}

.THIS .display_false {
    display: none !important;
}

.THIS.helpArea .helpBlock .helpIcon.visitIcon img{
    height: 18px;
    width: 20px;
}
.THIS .cross {
    float: right;
}
.THIS .cross img{
    margin-top: -44px;
    width: 20px;
}

.THIS .externalHelpBlock {
    /*border: 1px solid #ebebeb;*/
    display: inline-block;
    text-align: center;
    width: 30%;
    margin-right: 3%;
    padding-bottom: 15px;
    min-height: 58px;
    vertical-align: top;
    margin-bottom: 0.5rem;
    position: relative;
    height: 4rem;
}
.THIS .externalHelpBlock div {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
.THIS .externalHelpBlock div button {
    position: absolute;
    background-color: #808080;
    width: 100%;
    height: 100%;
    border: 1px solid #ebebeb;
    border-radius: 0;
    display: block;
    color: #4d6892;
    font-size: .86rem;
}
.THIS .externalHelpBlock a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.THIS .externalHelpBlock a button {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #ebebeb;
    border-radius: 0;
    background: white;
    font-size: .86rem;
    color: #008bff;
}
.THIS .live-chat{
    width: 25px;
    display: inline-block;
}

.THIS .skype{
    width: 21px;
    display: inline-block;
}

.THIS .Live_Agent_Offline_Label{
    color:#676767;
}
.THIS .Live_Agent_Online_Label{
    color: #0070d2;
    cursor: pointer;
}
@media (max-width: 768px) {
	.THIS .helpBlock {
		width: 100%;
		display:block;
	}

}

.THIS .x-panel,
.THIS .x-panel-body-noheader,
.THIS .x-panel-mc .x-panel-body,
.THIS .x-panel-body{
    border: none!important;
}

@media (max-width: 768px) {
	.THIS .helpBlock {
		width: 100%;
		display:block;
	}
    
    .THIS .helpBlock lightning-icon svg{
        width:25px;
    }
}

@media (max-width: 560px) {
    .THIS footer.slds-card__footer.actionButtonBar .actionsRight.slds-float_right{
        display: flex;
    }
}