.THIS.slds-fade-in-open {
    background: rgba(0,0,0,0.6);
}
.THIS{
    background: rgba(196,196,196,0.8);
    height: 100%;
}
.THIS .slds-card--narrow .slds-card__header.exit_header{
    margin-bottom: 0;
}

.THIS .uiButton--default.exitBtn {
    background: transparent;
    border: 0;
    box-shadow: 0 0 0;
}

.THIS .slds-grid.slds-grid--align-center.slds-text {
    font-size: 18px;
    text-align: center;
    padding: 0 1rem;
}

.THIS .slds-grid.slds-grid--align-center.slds-text .slds-grid {
    max-width: 60%;
}

.THIS .slds-grid.slds-grid--align-center.slds-text .slds-grid p {
    color: black;
    line-height: 1.4;
}

.THIS .slds-card.slds-card--narrow.bg-white {
    background: #fff;
    z-index: 1009;
}

.THIS .slds-card__body #rating {
    padding-top: 30px;
    padding-bottom: 30px;
}

.THIS .slds-card__body #rating .star-change {
    cursor: pointer;
    display: inline-block;
    margin: 6px 5px 0px 5px;
}
.THIS .slds-grid p {
    font-weight: bold;
}
.THIS .star-status {
    width:320px;
    margin:0 auto;
    /* padding-bottom: 54px; */
}
.THIS .star-status .left-status, .THIS .star-status .right-status {
    font-size: 12px;
    color: #5f5f5f;
}
/* .THIS .star-status .left-status {
        margin-left: -37px;
} */
.THIS .star-status .right-status {
    margin-right: 31px;
}
.THIS .no-border {
    border:none;
}
.THIS .slds-grid.slds-grid--align-end.blockClose button{
    border: none;
}
.THIS .slds-grid.slds-grid--align-end.blockClose button:active,
.THIS .slds-grid.slds-grid--align-end.blockClose button:focus,
.THIS .slds-grid.slds-grid--align-end.blockClose button:hover{
    background:none;
    border: 0;
    outline: none;
}
.THIS .slds-modal__container .slds-card__footer{
    border: 0;
}
.THIS .slds-modal__container button.exitBtn.uiButton{
    padding: 0;
    margin: 0;
    height: auto;
    line-height: 0;
}
.THIS .slds-modal__container button.exitBtn.uiButton img{
    width: 20px;
}
@media (max-width: 768px) {
    .THIS .slds-modal__container {
        margin: 0 0 0 50%;
        width: 90%;
        transform: translateX(-50%);
    }
    .THIS .star-status {
        width: 90%;
    }
    .THIS .star-status .left-status {
        margin-left: 0;
    }
    .THIS .star-status .right-status{
        margin-right:0;
    }
}