.THIS.iframe {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	z-index: 999999!important;
}

.THIS .btnsArea {
	left: 15px;
}

.THIS .panel-header button.slds-button.slds-button--neutral.uiButton--default.uiButton--brand.uiButton.forceActionButton{
	color:#fff;
}

.THIS .slds-button {
	color: #0070d2;
}

.THIS button.slds-button.slds-button_neutral, 
.THIS button.slds-button.slds-button--neutral {
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #dddbda;
	transition: border 0.15s linear;
	border-color: #dddbda;
	background-color: white;
	color: rgb(37, 116, 169);
}

.THIS button.slds-button.slds-button_neutral:active, 
.THIS button.slds-button.slds-button--neutral:active {
	background-color: #eef1f6;
	color: rgb(37, 116, 169);
}

.THIS button.slds-button.slds-button_neutral:hover, 
.THIS button.slds-button.slds-button_neutral:focus, 
.THIS button.slds-button.slds-button--neutral:hover, 
.THIS button.slds-button.slds-button--neutral:focus {
	background-color: #f4f6f9;
	color: rgb(37, 116, 169);
}

.THIS button.slds-button.uiButton--brand,
.THIS button.slds-button.slds-button--brand,
.THIS button.slds-button.uiButton_brand,
.THIS button.slds-button.slds-button_brand{
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #dddbda;
	transition: border 0.15s linear;
	background-color: #0070d2;
	border-color: #0070d2;
	color: white;
}

.THIS button.slds-button.uiButton--brand:active, 
.THIS button.slds-button.slds-button--brand:active,
.THIS button.slds-button.uiButton_brand:active, 
.THIS button.slds-button.slds-button_brand:active {
	background-color: #005fb2;
	border-color: #005fb2;
}

.THIS button.slds-button.uiButton--brand:hover, 
.THIS button.slds-button.uiButton--brand:focus,
.THIS button.slds-button.uiButton_brand:hover, 
.THIS button.slds-button.uiButton_brand:focus,
.THIS button.slds-button.slds-button--brand:hover, 
.THIS button.slds-button.slds-button--brand:focus,
.THIS button.slds-button.slds-button_brand:hover, 
.THIS button.slds-button.slds-button_brand:focus {
	background-color: #005fb2;
	color: white;
}

.THIS button.slds-button.uiButton--brand[disabled],
.THIS button.slds-button.uiButton_brand[disabled] {
	background: #c9c7c5;
	border-color: #c9c7c5;
	color: white;
}
.THIS button.slds-button.uiButton--brand[disabled]:hover,
.THIS button.slds-button.uiButton_brand[disabled]:hover {
	background: #c9c7c5;
	border-color: #c9c7c5;
	color: white;
}

.THIS .slds-section.salesforceIdentityAppLauncherDesktopInternal button.slds-button.slds-button--neutral {
	border: none;
	width: auto;
	padding: 0;
	background: none;
}

.THIS .slds-section.salesforceIdentityAppLauncherDesktopInternal button.slds-button.slds-button--neutral:hover {
	background: none;
}