.THIS.my_tickets_btn {
	position: absolute;
	top: 44px;
	right: 2rem;
	border: 0;
	background: transparent;
	font-size: 1.2rem;
	font-weight: bold;
	outline: none;
}
.THIS .display_false {
    display: none;
}
.THIS.my_tickets_btn.active {
	color: #1a1a1a;
	font-weight: normal;
	background: #eef1f6;
	border-radius: 50px;
	width: 103px;
	height: 32px;
}

.THIS.hidden_div {
	display: none;
}

.THIS .hidden_circle {
	display: none;
}

.THIS .my_tikets_div {
	width: 100%;
	/*background: #eef1f6;*/
	background: transparent;
	position: absolute;
	left: 0;
	height: 100%;
	/* font-family: "open_sansregular",Arial,sans-serif; */
}

.THIS .additional_shift {
	top: 80px;
}

.THIS .work_space {
	background: white;
	height: calc(100% - 80px);
	width: 970px;
	margin: 0 auto;
}

.THIS .case_description {
	width: 68%;
	height: 100%;
	float: right;
	color: black;
	/*overflow-y: auto;*/
	overflow-y: hidden;
}

.THIS .table_with_cases {
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	display: inline-block;
}

.THIS .cases_area {
	float: left;
	height: 100%;
	width: 32%;
	background: #e4e6eb;
	overflow-y: auto;
}

.THIS .clearfix {
	clear: both;
}

.THIS .table_row {
	width: 100%;
	display: block;
	position: relative;
}

.THIS .table_cell {
	width: 100%;
	height: 180px;
	display: block;
	border: solid #fff;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom-width: 1px;
	cursor: pointer;
	padding-top: 20px;
	z-index: 99;
}

.THIS .status_div {
	color: #76cf96;
	font-size: 12px;
	padding-right: 5%;
	text-align: right;
	font-weight: 700;
	text-transform: uppercase;
	float: right;

}

.THIS .title_div {
	font-size: 19px;
	color: black;
	font-weight: 700;
	margin-left: 10%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 220px;
	min-height: 24px;
	float: left;
	margin-bottom: 10px;
}

.THIS .opened_div {
	font-size: .8rem;
	color: grey;
	margin-left: 10%;
	clear: both;
	margin-bottom: 10px;
}

.THIS .modified_div {
	font-size: 0.8rem;
	color: #76cf96;
	margin-left: 10%;
	margin-top: 2%;
}

.THIS .div0 {
	color: #4bc076;
	font-size: 12px;
	padding-right: 5%;
	text-align: right;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 7px;
}

.THIS .div1 {
	font-size: 16px;
	color: black;
	font-weight: 700;
	margin-left: 15px;
	height: 60px;
	margin-bottom: 20px;
	line-height: 20px;
	padding-right: 5px;
}
.THIS .div1 .sub-element {
	display: block;
	-webkit-line-clamp: 3;
	-ms-line-clamp: 3;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-box;
	-webkit-box-orient: vertical;
	-ms-box-orient: vertical;
	word-wrap: break-word;
	-ms-word-wrap: break-word;
	max-height: 60px;
}

.THIS .div2 {
	font-size: 12px;
	color: grey;
	margin-left: 15px;
	clear: both;
	line-height: 18px;
}

.THIS .div3 {
	font-size: 12px;
	color: #4bc076;
	margin-left: 15px;
	line-height: 18px;
}

.THIS .div_default {
	font-size: .8rem;
	color: grey;
	margin-left: 10%;
	clear: both;
	margin-bottom: 10px;
}

.THIS .selected_case_style {
	background: white !important;
}

.THIS .default_cursor {
	cursor: default;
}

.THIS .background_area {
	background: #eef1f6;
}

.THIS .background_none {
	background: transparent !important;
}

.THIS .new_message_section {
	position: fixed;
	top: 10rem;
	border-radius: 0.5rem;
	width: 27%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-size: 1.5rem;
	padding: 1rem;
	z-index: 1000;
	transition: 1s linear;
	opacity: 0;
	line-height: 30px;
	visibility: hidden;
}

.THIS .new_message_section.active {
	opacity: 1;
	visibility: visible;
}

.THIS .work_space.work_space_opacity {
	opacity: 0.6;
	height: 100%;
	background: #fff;
}

.THIS .info_message {
	background: #4f81ff;
	color: #fff;
}

.THIS.success_message {
	background: rgb(75, 202, 129);
	color: #fff;
}

.THIS .showMoreLink {
	text-align: center;
	padding: 10px 0;
	font-size: 14px;
}

.THIS .work_space.work_space_opacity .cases_area.slds-scrollable,
.THIS .work_space.work_space_opacity .case_description.slds-scrollable.background_area {
	display: none;
}

.THIS .btn_back,
.THIS .txt_tickets {
	display: none;
}

.THIS .true.btn_back {
	display: block;
}

.THIS .updates_indicator .div3 {
	color: #de0000;
	font-weight: bold;
}

.THIS .updates-number-circle {
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	background-color: #de0000;
	border: 2px solid red;
	border-radius: 50%;
	color: white;
	font-size: 9px;
	text-align: center;
	line-height: 16px;
	position: absolute;
	top: 32px;
	left: 142px;
	padding: 0;
	margin: 0;
}

.THIS button.uiButton--default.uiButton {
	position: relative;
	display: inline-block;
	padding: 0;
	background: transparent;
	background-clip: border-box;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	font-size: 0.75rem;
	line-height: 1.875rem;
	text-decoration: none;
	color: #0070d2;
	white-space: normal;
	user-select: none;
	transition: color 0.05s linear, background-color 0.05s linear;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #d8dde6;
	background-color: white;
}

.THIS .label.truncate {
	color: #0070d2;
	font-weight: normal;
}

.THIS .label.truncate:hover {
	color: #2a62b6;
	text-shadow: none;
}

.THIS .submit_section button .label.truncate {
	color: #fff;
}

.THIS .submit_section button.uiButton {
	background: #4bc076;
}

.THIS .submit_section button.uiButton:hover {
	background: #04844b;
}

.THIS .showNewTickets,
.THIS .showNewTickets.uiButton--default.uiButton {
	color: #0070d2;
	background: transparent;
	border: 0;
	margin: 3px auto;
	display: block;
	outline: none;
	box-shadow: none;
}

.THIS .showNewTickets .label .THIS .showNewTickets.uiButton--default.uiButton .label {
	color: #0070d2;
}

.THIS .showNewTickets .label:hover,
.THIS .showNewTickets.uiButton--default.uiButton .label:hover {
	color: #005fb2;
	text-decoration: underline;
}

.THIS .showNewTickets .label:active,
.THIS .showNewTickets.uiButton--default.uiButton .label:active {
	color: #00396b;
}

.THIS.total_div {
	position: absolute;
	top: 0;
	left: 0 !important;
	width: 100%;
	background: rgba(198, 198, 198, 0.8);
	z-index: 1001;
	min-height: 100%;
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.THIS.hidden_div,
.THIS .hidden_div {
	display: none;
}

.THIS .error .bBody {
	text-align: center;
	padding-top: 0.5rem;
}

.THIS .error {
	padding: 0.5rem;
}

.THIS .tooltip {
	position: relative;
}

.THIS .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.THIS .tooltip:hover .tooltiptext {
	visibility: visible;
}

.THIS .info_Related_div {
	background: white;
	margin: 5% auto;
	width: 100%;
	max-width: 970px;
	border-radius: 5px;
	position: relative;
}

.THIS .cross {
	cursor: pointer;
	color: grey;
	float: right;
	margin: 20px 25px 0 0;
}

.THIS .info_table .result_title {
	font-size: 1.3rem;
	font-weight: 700;
	padding-bottom: 1rem;
}

.THIS .info_table {
	background: white;
	color: black;
	margin: 0 20px 0 50px;
	padding: 55px 0;
}

.THIS .yes,
.THIS .no,
.THIS .no_pressed {
	margin-left: 10px;
}

.THIS .yes {
	color: #4bc076;
	font-size: 0.95rem;
	cursor: pointer;
	font-weight: bold;
}

.THIS .no {
	color: #f089b3;
	font-size: 0.95rem;
	cursor: pointer;
	font-weight: bold;
}

.THIS .yes:hover {
	color: #346d49;
}

.THIS .no:hover {
	color: #b56988;
}

.THIS .yes_pressed {
	color: #346d49;
	font-size: 0.95rem;
	margin: 1rem;
	font-weight: bold;
}

.THIS .no_pressed {
	color: #b56988;
	font-size: 0.95rem;
	font-weight: bold;
}

.THIS .yes_disabled {
	color: #4bc076;
	font-size: 0.95rem;
	margin: 1rem;
	font-weight: bold;
}

.THIS .no_disabled {
	color: #f089b3;
	font-size: 0.95rem;
	font-weight: bold;
}

.THIS .isHelpful_section {
	text-align: center;
	clear: both;
	margin-top: 25px;
	justify-content: space-around;
}

.THIS .likes_section {
	font-size: 0.8rem;
	color: grey;
	padding-bottom: 1.5rem;
}

.THIS .feedback input {
	background: transparent;
	border: 1px solid #f88962;
	border-radius: 4px;
	color: #f88962;
	padding: 6px 17px;
}

.THIS .favorite_section {
	float: right;
	margin: 15px 20px 0;
}

.THIS .favorite_true {
	border-radius: 4px;
	color: black;
	background-size: cover !important;
	border: 0;
	outline: 0;
	padding: 0;
	width: 32px;
	height: 30px;
}

.THIS .favorite_false {
	border-radius: 4px;
	color: black;
	background-size: cover !important;
	border: 0;
	outline: 0;
	padding: 0;
	width: 32px;
	height: 30px;
}

.THIS .logATicket button {
	background: #4f81ff;
	border: 0;
	border-radius: 4px;
	color: #fff;
	padding: 3px 20px;
	font-size: 0.8rem;
	min-height: 33px;
}

.THIS .body_style {
	font-size: 0.95rem;
	line-height: 1.5;
}
.THIS .body_style table {
	width: inherit !important;
}
.THIS .body_style > div {
	height: auto!important;
}

.THIS .body_style > div > table {
	margin-bottom: 10px!important;
}


.THIS .result_body .body_style td, .THIS .result_body .body_style th {
	border: 1px solid #d0d0d0;
}


/*START - styles for Business Cards*/

.THIS .result_body .body_style .section_card table {
	margin: 0 auto!important;
	width: calc(100% - 150px);
	border: 1px solid #d0d0d0;
	color: #000;
}

.THIS .section_card td {
	display: flexbox;
	flex-direction: column;
}

.THIS .block_userTop {
	display: flex;
	padding: 15px;
}

.THIS .wrapUserAndLogo {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	justify-content: flex-end;
	flex: 5;
}

.THIS .block_userName {
	margin-top: auto;
}

.THIS .block_companyLogo {
	align-self: flex-end;
	margin-bottom: 15px;
	flex-grow: 0;
}
.THIS .CompanyLogo {
	text-align: right;
}
.THIS .block_photo {
	flex: 2;
	padding-right: 10px;
}

.THIS .block_photo img {
	max-height: 200px;
	max-width: 200px;
}

.THIS .CompanyLogo img {
	width: auto!important;
	height: auto!important;
	max-height: 100px!important;
}

.THIS .block_userBottom {
	padding: 15px;
}

.THIS .block_userPhone,
.THIS .block_userAddress {
	width: 49%;
	display: inline-block;
}

.THIS .block_userAddress {
	text-align: right;
}

.THIS p.txt_bottom {
	text-align: center;
}

.THIS .FirstName {
	font-size: 1.7rem;
}

/*END - styles for Business Cards*/

.THIS h1 {
	font-size: 17px;
	font-weight: bold;
}

.THIS h2 {
	font-size: 15px;
	font-weight: bold;
}

.THIS h3 {
	font-size: 14px;
	font-weight: bold;
}

.THIS h4 {
	font-size: 13px;
	font-weight: bold;
}

.THIS h5 {
	font-size: 12px;
	font-weight: bold;
}

.THIS .photoStyle {
	overflow-y: hidden;
}

.THIS .result_body .body_style table {
	margin: 0 auto;
	width: auto;
	border: 1px solid #d0d0d0;
}

.THIS .info_table:after {
	content: "";
	clear: both;
	display: block;
}

.THIS .block_ActionsSection {
	color: #4d6892;
    margin-left:10px;
}

.THIS .block_ActionsSection > p {
	margin-bottom: 10px;
}

.THIS .helpBlock {
	display: flex;
	width: 150px;
	margin-bottom: -1px;
	border: none;
	border-bottom: 1px solid #ebebeb;
}

.THIS .helpIcon {
	display: inline-block;
	width: 30px;
	vertical-align: top;
	display: flex;
	align-items: center;
}

.THIS .helpText {
	display: inline-block;
	/* width: 75%; */
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 38px;
	text-align: left;
	line-height: 17px;
}

.THIS .helpText.logBtn {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.THIS .helpText .callText,
.THIS .helpText .callNumber {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 1;
}

.THIS .helpText .callText {
	color: #4d6892;
	font-size: 13px;
	height: 17px;
	line-height: 20px;
	display: inline-block;
}

.THIS .helpText .callNumber {
	color: #000000;
	font-size: 0.8rem;
	position: relative;
	word-wrap: normal;
	top: 0;
}

.THIS .block_ActionsSection.block_ActionsSectionMobile {
	display: none;
}

.THIS .block_RelatedArticles {
	width: 172px;
	padding: 10px;
	border: 1px solid #ebebeb;
	margin-top: 10px;
}

.THIS .headerRelatedArticle {
	text-align: center;
	color: #5271a3;
	margin: 5px 0 7px;
}

.THIS .relatedArticle_title {
	margin: 5px 0;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	line-height: 17px;
	cursor: pointer;
}

.THIS .relatedArticle_title:last-child {
	border: none;
}
.THIS .thisMessage {
    min-width: 250px;
    color: #fff;
    text-align: center;
    padding: 17px;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    border-radius: 5px;
    font-size: 17px;
    position: absolute;
    margin-bottom: 20px;
    min-height:50px;
}
.THIS .messageWrapper{
    display: none;
}
.THIS .messageWrapper.active{
    display: block;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
    animation: fadein 0.5s, fadeout 0.5s 2s;
}
.THIS .thankMessage{
    background-color:#4bc076;
}
.THIS .errorMessageVote{
    background-color:rgb(201, 97, 66);
}
@-webkit-keyframes fadein {
    from {bottom: -15px; opacity: 0;}
    to {bottom: -15px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: -15px; opacity: 0;}
    to {bottom: -15px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: -15px; opacity: 1;}
    to {bottom: -15px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: -15px; opacity: 1;}
    to {bottom: -15px; opacity: 0;}
}
.THIS .video-container iframe {
	max-width: 100%;
}

.THIS .errorArea {
	position: absolute;
	background: transparent;
}

.THIS .exceptionMessage {
	position: fixed;
	top: 3rem;
	border-radius: 0.5rem;
	min-width: 250px;
	max-width: 370px;
	left: 50%;
	transform: translateX(-50%);
	transition: 1s linear;
	line-height: 24px;
	z-index: 1000;
}

.THIS .exceptionMessage .errorMessage {
	background: rgb(201, 97, 66);
	color: #fff;
	font-size: 1.15rem;
	padding: 0.5rem 1rem 1rem 1rem;
	line-height: 24px;
	z-index: 1001;
}
.THIS textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
@media (max-width:1350px) {
	.THIS .work_space {
		width: 65%;
	}
	.THIS .div1.divEllipsis::after {
		left: 30px;
	}
}

@media (max-width: 1150px) {
	.THIS .favorite_section {
		margin: 16px 1.5rem 0 0;
	}
	.THIS .info_Related_div {
		margin: 10% auto 15%;
		width: 90%;
	}
}

@media (max-width:1090px) {
	.THIS .work_space {
		width: 61%;
	}
	.THIS .table_cell {
		height: 180px;
	}
}

@media (max-width: 1024px) {

	.THIS .showMoreLink {
		padding: 10px;
		background: #e4e6eb;
	}
	.THIS .additional_shift {
		top: 100px;
	}
	.THIS .my_tikets_div {
		position: fixed;
		overflow: auto;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
	}
	.THIS .work_space {
		width: 90%;
	}
	.THIS .cases_area {
		width: 100%;
		overflow-y: visible;
		height: auto;
	}
	.THIS .slds-scrollable,
	.THIS .table_with_cases {
		overflow: visible;
	}
	.THIS .table_with_cases {
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	}
	.THIS .table_cell {
		height: 145px;
		padding-top: 16px;
	}
	.THIS .div1 {
		padding-right: 50px;
		margin-bottom: 3px;
	}
	.THIS .txt_tickets {
		display: block;
	}
	.THIS .txt_tickets,
	.THIS .btn_back {
		position: fixed;
		top: 60px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 20px;
		width: 90%;
		padding: 10px 0;
		text-shadow: 0 0 6px rgba(0, 0, 0, 1);
		color: #fff;
		/* z-index: 1; */
	}
	.THIS .case_description {
		width: 100%;
		overflow-y: visible;
		background-color: white;
	}
	.THIS .case_descriptionId {
		display: none;
	}
	.THIS .work_space {
		height: auto;
	}
	.THIS .title_div {
		margin-left: 10px;
		max-width: 77%;
	}
	.THIS .opened_div,
	.THIS .modified_div {
		margin-left: 10px;
	}
	.THIS .table_cell {
		position: relative;
		background: white!important;
		border-bottom: 1px solid #ccc;
	}
	.THIS .table_cell:after {
		content: "\203A";
		position: absolute;
		color: #8199af;
		right: 27px;
		top: 50%;
		font-size: 55px;
		transform: translateY(-50%);
	}
	.THIS .new_message_section {
		width: 40%;
		transform: translate(-50%);
		left: 50%;
	}
	.THIS .show {
		display: block;
	}
	.THIS .hide {
		display: none;
	}
}

@media (max-width: 768px) {
	.THIS.total_div {
		position: fixed;
	}
	.THIS.total_div {
		top: 52px;
	}
	.THIS .info_table {
		margin: 0;
		padding: 50px 15px;
	}
	.THIS .block_ActionsSection {
		margin-right: 0;
		margin-top: -13px;
		margin-left: 0;
		width: 100%;
	}
	.THIS .helpBlock,
	.THIS .block_RelatedArticles {
		width: 100%;
	}
	.THIS .relatedArticle_title {
		padding-bottom: 10px;
		margin: 10px 0;
	}
	.THIS p.result_title {
		clear: both;
	}
	.THIS .block_ActionsSection {
		display: none;
	}
	.THIS .block_ActionsSection.block_ActionsSectionMobile {
		display: block;
		margin-top: 11px;
	}
	.THIS .block_ActionsSection.block_ActionsSectionMobile p.suggestLabel{
        color: #4d6892;
        font-size: 14px;
        padding-top: 15px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        margin-bottom: 0;
        text-transform: none;
    }
    .THIS .slds-comment__content a{
    	font-size: 14px;
    	line-height: 16px;
    }
}

@media (max-width: 650px) {
	.THIS .new_message_section {
		width: 70%;
		left: 50%;
		transform: translate(-50%);
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 375px) {
	.THIS .my_tikets_div.additional_shift  {
		height: calc(100% - 100px);
	}
	.THIS .my_tikets_div.additional_shift.popupOpen {
		height: calc(100% - 52px);
		top: 52px;
	}
	
}
/* THIS HACKS FOR SAFARI BROWSERS */

@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) { 
	.THIS .my_tikets_div.additional_shift.popupOpen {
		height: calc(100% - 52px);
		top: 52px;		
		overflow: hidden;
	}

	.THIS .my_tikets_div.iOS .work_space {
		width: 100% !important; 
	}
}
/* ------------------------------------------------ */