/*.THIS.updates-number-circle {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: red;
    border: 2px solid red;
    border-radius: 50%;
    color: white;
    font-size: 9px;
    text-align: center;
    line-height: 16px;
    position: absolute;
    top: 0px;
    left: 184px;
    padding: 0;
    margin: 0;
}
@media (max-width: 767px){
    .THIS.updates-number-circle{
        left: 37px;
        top: -4px;
    }
}*/

/*
.THIS .slds-grid ul li a {
    font-weight: 600;
    letter-spacing: 1px;
}*/