.THIS.slds-fade-in-open {
	background: rgba(0,0,0,0.6);
}
.THIS input,
.THIS textarea{
	-ms-appearance: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.THIS{
	background: rgba(196,196,196,0.8);
	height: 100%;
}
.THIS .slds-card--narrow .slds-card__header.exit_header{
	margin-bottom: 0;
	padding-top: 10px;
}
.THIS{
	background: rgba(196,196,196,0.8);
}
.THIS .uiButton--default{
	background: transparent;
	border: 0;
	box-shadow: 0 0 0;
	text-shadow: none;
}

.THIS .slds-grid.slds-grid--align-center.slds-text {
	font-size: 18px;
	text-align: center;
	padding: 0 1rem;
}

.THIS .slds-grid.slds-grid--align-center.slds-text .slds-grid p {
	color: black;
	line-height: 1.4;
}

.THIS .slds-card.slds-card--narrow.bg-white {
	background: #fff;
}
.THIS .slds-grid p {
	font-weight: bold;
	/* padding-bottom: 22px; */
}
.THIS .slds-form-element {
	margin:0 25px 24px;
	width: 100%;
	flex: 1;
}
.THIS .slds-form-element textarea {
	resize: none;
	height: 94px;
}
.THIS .slds-form-element__label {
	font-size:12px;
	color: #4d6892;
}
.THIS .slds-form-element__label i{
	color: #f04f92;
	font-size: 1rem;
	position: relative;
	top: 2px;
}
.THIS p{
	color: black;
}
.THIS .skip-btn, 
.THIS .skip-btn:active span, 
.THIS .skip-btn:focus span {
	outline: none;
	border: 1px solid #bdbcbc;
}
.THIS .skip-btn:hover span, 
.THIS .skip-btn:active span, 
.THIS .skip-btn:focus span{
	color: #5f5f5f;
	border: none;
}
.THIS .next-btn {
   margin: 0 0 0 40px;
   border-radius: 4px;
   border: none;
}
.THIS .next-btn,   
.THIS .next-btn:focus{
	background: #4f81ff;
	outline: none;
	height: 32px;
	min-width: 120px;
	color:#fff;
}
.THIS .next-btn:hover{
	background:#005fb2!important;
}
.THIS .next-btn:active{
	background:#00396b!important;
}

.THIS .next-btn span, .THIS .next-btn:hover span{
	color: #ffffff;
}
.THIS .skip-btn span {
	color: #5f5f5f;
	font-size: 13px;
	font-weight: normal;
}
.THIS .slds-card__footer {
	margin-top: 1px;
}
.THIS .uiInput{
	color: black;
}
.THIS .no-border {
	border:none;
}
.THIS .uiInput--textarea.has-error .textarea,
.THIS .uiInput--textarea.has-error.textarea{
	border-color: rgb(179, 181, 197);
	box-shadow: rgb(184, 184, 192) 0 0 0 0px inset;
}
.THIS .slds-grid.slds-grid--align-end.blockClose button{
	border: none;
}
.THIS .slds-grid.slds-grid--align-end.blockClose button:active,
.THIS .slds-grid.slds-grid--align-end.blockClose button:focus,
.THIS .slds-grid.slds-grid--align-end.blockClose button:hover{
    background:none;
    border: 0;
    outline: none;
}
.THIS .slds-textarea.textarea.uiInput.uiInputTextArea.uiInput--default.uiInput--textarea{
    font-size: 13px;
    color: #000;
    padding: 10px;
}
.THIS textarea.errorBorder{
    border-color: #c23934!important;
    box-shadow: none;
}
.THIS textarea.uiInput--textarea.has-error.textarea.errorBorder{
    box-shadow: none;
}
.THIS ul.has-error.uiInput.uiInputTextArea li.form-element__help{
    font-size: 12px; 
    color: #c23934;   
}
.THIS .slds-textarea.textarea.uiInput.uiInputTextArea.uiInput--default.uiInput--textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 13px; 
}
.THIS .slds-textarea.textarea.uiInput.uiInputTextArea.uiInput--default.uiInput--textarea::-moz-placeholder { /* Firefox 19+ */
  font-size: 13px; 
}
.THIS .slds-textarea.textarea.uiInput.uiInputTextArea.uiInput--default.uiInput--textarea:-ms-input-placeholder { /* IE 10+ */
  font-size: 13px; 
}
.THIS .slds-textarea.textarea.uiInput.uiInputTextArea.uiInput--default.uiInput--textarea:-moz-placeholder { /* Firefox 18- */
  font-size: 13px; 
}

.THIS .slds-card__footer .slds-grid button.skip-btn{
	min-width: 90px;
	margin: 0;
}
.THIS .slds-card__footer .slds-grid button.skip-btn, 
.THIS .slds-card__footer .slds-grid button.skip-btn:active, 
.THIS .slds-card__footer .slds-grid button.skip-btn:focus,
.THIS .slds-card__footer .slds-grid button.skip-btn:hover{
    border: 1px solid #ccc;
}
.THIS .slds-card__footer .slds-grid button.skip-btn:hover{
    background-color: rgba(25, 124, 190, 0.1);
}
.THIS button.slds-button.slds-button--neutral.exitBtn.uiButton,
.THIS button.slds-button.slds-button--neutral.exitBtn.uiButton:hover,
.THIS button.slds-button.slds-button--neutral.exitBtn.uiButton:active,
.THIS button.slds-button.slds-button--neutral.exitBtn.uiButton:focus{
    border: 0;
    background-color: transparent;
}
.THIS .slds-modal__container button.exitBtn.uiButton img{
	width: 20px;
}
.THIS .slds-modal__container .slds-card__footer{
    border: 0;
}
.THIS .slds-modal__container .slds-form-element.slds-large-size--4-of-5{
	padding: .75rem 1rem;
    margin: 0;
}
.THIS .slds-modal__container button.exitBtn.uiButton{
	padding: 0;
	margin: 0;
    height: auto;
    line-height: 0;
}

@media (max-width: 768px) {
	.THIS .slds-modal__container {
		width: 90%;
		margin-left: 50%;
		transform: translateX(-50%);
	}
	.THIS .slds-grid.slds-grid--align-center.slds-text .slds-grid p {
		/* width: 90%; */
		margin: 0 auto;
	}
	.THIS .slds-grid > .slds-form-element.slds-large-size--4-of-5 {
		width:100%;
	}
	.THIS .next-btn {
		margin-right: 0;
	}

}