.THIS .action_col {
	max-width: 10%;
	width: 10% !important;
}
.THIS .field-select {
	max-width: 45%;
	width: 45% !important;
}
.THIS th {
	width: auto !important;
}
@media screen and (max-width:575px) {
	.THIS.table_wrapper.table_wrapper_article > table > thead {
		left: -6px;
	}
	.THIS.table_wrapper.table_wrapper_article > table > tbody > tr > td {
		padding: 0;
	}
	.THIS.table_wrapper.table_wrapper_article > table > tbody > tr > td > table.cncrgFieldList,
	.THIS.table_wrapper.table_wrapper_article > table > tbody > tr > td > table.cncrgFieldList thead,	
	.THIS.table_wrapper.table_wrapper_article > table > tbody > tr > td > table.cncrgFieldList thead tr.header_line {
		display:block;
	}
	.THIS.table_wrapper.table_wrapper_article > table > tbody > tr > td > table.cncrgFieldList > tbody {
		display: block;
	}
	.THIS.table_wrapper.table_wrapper_article > table > tbody > tr > td > table.cncrgFieldList > tbody > tr {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		width: 100%;
		height: 100%;
	}
	.THIS.new_setting_style .cncrgFieldList .slds-button, 
	.THIS.table_wrapper.table_wrapper_article > table > tbody > tr > td > table.cncrgFieldList > tbody > tr td.action_col {
		padding-left: 8px;
	}
	.THIS.table_wrapper.table_wrapper_article > table > tbody > tr > td > table.cncrgFieldList > tbody > tr td.field-select {
		width: 100%;
		padding-right: 0.5rem;
	}
}