.THIS {
    -webkit-overflow-scrolling: touch;
}
.THIS.total_div {
    position: absolute;
    top: 0;
    left: 0 !important;
    width: 100%;
    background: rgba(198,198,198,0.8);
    z-index: 999;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
}
.THIS.display_false, .THIS .display_false {
    display: none;
}

.THIS .body_style ol,
.THIS .body_style ul,
.THIS .body_style dl{
    margin-left: 25px;
    margin-top: 15px;
}

.THIS .info_div {
    background: white;
    margin: 5% 0 5% 17%;
    width: 66%;
    border-radius: 5px;
}
.THIS .info_table .result_title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .info_table {
    background: white;
    color: black;
    padding: 3rem 0 2.5rem 0;
    margin: 0 ;
}
.THIS .result_body span{
    font-size: 0.95rem;
    line-height: 1.5;
}
.THIS.all_free_space_div {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 0 1rem;
    position: relative;
}

.THIS .new_position.slds-button--neutral{
	position: absolute;
	right: 15px;
	top: .5rem;
	background: #4f81ff;
	border: 0;
	border-radius: 4px;
	color: #fff;
	padding: 0px 20px;
	font-size: .8rem;
	margin-bottom: 10px;
	min-width: 120px;
	min-height: 35px;
}
.THIS .slds-button:disabled {
    background: #dddddd;
}
.THIS .new_position.slds-button--neutral:hover{
	background:#005fb2;
}
.THIS .new_position.slds-button--neutral:active{
	background:#00396b;
}
.THIS .new_position.slds-button--neutral.uiButton--default .label{
	color: #ffffff;
	text-shadow: none;
	font-weight: normal;
}

.THIS .body_style {
    font-size: 0.95rem;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS ul{
    list-style: disc;
}
.THIS h1{
    font-size: 17px;
    font-weight: bold;
}

.THIS h2{
    font-size: 15px;
    font-weight: bold;
}

.THIS h3{
    font-size: 14px;
    font-weight: bold;
}
.THIS h4{
    font-size: 13px;
    font-weight: bold;
}
.THIS h5{
    font-size: 12px;
    font-weight: bold;
}
.THIS .new_position {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}
.THIS .result_body .body_style table{
    margin:0 auto!important;
    border: 1px solid #d0d0d0;
    width: auto!important;
}
.THIS .result_body .body_style table div{
    background-color:#fff!important;
}
.THIS .result_body .body_style table div.block_userName,
.THIS .result_body .body_style table div.FirstName,
.THIS .result_body .body_style table div.Title,
.THIS .result_body .body_style table div.CompanyName{
	background-color: transparent!important;
}

.THIS td, .THIS th {
    border: 1px solid #d0d0d0;
}

.THIS .photoStyle {
    overflow-y: hidden;
}
.THIS .background_area{
    background: #eef1f6;
}
.THIS .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.THIS .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*start - styles for Business Cards*/

.THIS .result_body .body_style div.section_card table{
    width: 100%!important;
}
.THIS .section_card td {
    display:flexbox;
    flex-direction:column;
}
.THIS .block_userTop {
    display: flex;
    padding:15px;
}
.THIS .wrapUserAndLogo {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 5;
}
.THIS .block_userName{
    margin-top: auto;
}
.THIS .block_companyLogo{
    align-self: flex-end;
    margin-bottom: 15px;
    flex-grow: 1;
}
.THIS .CompanyLogo {
    text-align: right;
}
.THIS .block_photo{
    flex: 2;
    padding-right: 10px;
}
.THIS .block_photo img {
    max-height:200px;
    max-width:200px;
}
.THIS .CompanyLogo img{
    width: auto!important;
    height: auto!important;
    max-height: 100px!important;
}
.THIS .block_userBottom {
   padding: 15px;
}
.THIS .block_userPhone,
.THIS .block_userAddress {
   width: 49%;
   display: inline-block;
}
.THIS .block_userAddress {
   text-align:right;
}
.THIS p.txt_bottom {
    text-align: center;
}
.THIS .FirstName {
   font-size:1.7rem;
}

/*end - styles for Business Cards*/

@media (max-width: 1450px) {
	.THIS .FirstName {
		font-size: 1.7vw;
	}
}
@media (max-width: 1220px) {
	.THIS .CompanyLogo img{
	    max-height: 60px!important;
	}
}
@media (max-width: 1160px) {
	.THIS .CompanyLogo img{
	    max-height: 51px!important;
	}
}
@media (max-width: 1060px) {
	.THIS .FirstName {
		font-size: 18px;
	}
}


@media (max-width: 1024px) {	
    .THIS .result_body .body_style div.section_card table{
        width: 100%!important;
    }
	.THIS .CompanyLogo img{
	    max-height: 75px!important;
	}
	.THIS .info_table {
		padding: 3rem 1rem;
		margin: 0;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	}
	.THIS.all_free_space_div {
		padding:0;
	}
	.THIS .info_table .result_title {
		font-size: 18px;
		line-height: 24px;
	}
	.THIS .FirstName {
		font-size: 2.5vw;
	}
    .THIS .body_style {
        max-width: 100%;
    }
}
@media (max-width: 728px) {
	.THIS .FirstName {
		font-size:3.3vw;
	}
	.THIS .block_userBottom {
	    padding: 0 15px 15px;
	}
}
@media (max-width: 550px) {
    .THIS .FirstName {
        font-size: 15px;
    }
    .THIS .Title,
    .THIS .CompanyName,
    .THIS .block_userPhone,
    .THIS .block_userAddress{
        font-size: 12px;
    }
}
@media (max-width: 530px) {

	.THIS .section_card {
		font-size: 2.7vw;
		margin-bottom: 10px;
	}

	.THIS .block_userTop,
	.THIS .block_userBottom {
		padding: 5px;
	}
}
@media (max-width: 450px) {
	.THIS .CompanyLogo img{
	    max-height: 60px!important;
	}
}
@media (max-width: 370px) {
    .THIS .CompanyLogo img{
        max-height: 50px!important;
    }
}