body .cncrgConcierge.total_div {
    overflow: auto;
}
body .actionButtons.hidden.oneActionBar.forceActionsContainer,
body .actionOverflow.overflowMenu.visibilityHidden.oneActionOverflow.oneActionBar.forceActionsContainer {
    display: none;
}
body .cncrgCasesList .additional_shift,
body .cncrgFavoriteArticlesList .additional_shift {
    top: 80px;
}
body .cncrgCasesList .my_tikets_div,
body .cncrgFavoriteArticlesList .my_favorites_div {
    height: calc(100% - 80px);
}
body .cncrgBaseComponent.cncrgRelatedArticleDetails .mainSection .info_table > .slds-grid {
    padding: 0;
    margin: 0;
    width: 100%;
}

body .cncrgArticleDetails.total_div {
    position: fixed;
}

body .cncrgConcierge.total_div.bgHomeTabIframe {
    overflow-y: hidden;
    position: static;
}

/*styles without using iframe*/
body .cncrgSearchQueryInput.btnsArea,
body .cncrgBackgroundComponent .my_tickets_btn {
    position: absolute;
}

body .slds-brand-band:before,
body .slds-brand-band:after {
    background: none;
}

body .windowViewMode-minimized.lafPageHost .slds-brand-band {
    overflow: hidden;
}

body .cncrgActionsSettingsCMP .info_div,
body .cncrgLogTicket .info_div {
    margin: 0 auto 70px;
}

body .cncrgFavoriteArticlesList .showMoreColon {
    padding: 15px 0;
}

body .uiScrollerWrapper.scrollable {
    overflow: inherit;
}

body .cncrgConcierge .new_message_section {
    position: absolute;
}



body .cncrgLogTicket.total_div {
    position: fixed;
}

body .cncrgFavoriteDetails .new_position.slds-button--neutral:hover {
    color: white;
}
.cncrgCasesList div.work_space,
.cncrgFavoriteArticlesList .my_favorites_div.additional_shift div.work_space {
    height: 100%;
}
@media(max-width:1024px) {
    div.phone {
        overscroll-behavior: contain;
    }

    div.slds-spinner_container {
        overscroll-behavior: none;
        height: 100%;
    }

    body .cncrgConciergeAppTab .cncrgConcierge.total_div {
        position: absolute;
    }

    body .cncrgActionsSettingsCMP .info_div {
        margin: 0 auto 100px;
    }

    body .cncrgSearchResultsSuggestions .results_table {
        margin: 10px auto 100px auto;
    }

    body .cncrgCasesList .my_tikets_div.additional_shift,
    body .cncrgFavoriteArticlesList .additional_shift {
        top: 100px;
        height: calc(100% - 80px);
        overflow-y: auto;
    }

    body .cncrgFavoriteArticlesList .work_space {
        margin: 0 auto 50px;
    }

    body .cncrgCaseLayoutSettings.total_div,
    body .cncrgActionsSettingsCMP.total_div {
        padding-bottom: 50px;
    }

    body .cncrgCaseLayoutSettings .info_div {
        /* transform: translate3d(0, 0, 0); */
    }

    body h1.title.title_margin {
        margin-top: 20% !important;
    }

    body .cncrgSearchQueryInput .navTopMobile {
        height: 52px;
    }

    body .scroller.actionBarPlugin {
        transform: translate3d(0px, 0px, 0px) !important;
    }

    body.scrollerSize {
        height: 90vh;
        width: 100%;
        border-radius: 1px;
    }

    body .innerDivWrapper {
        min-height: 101%;
        padding-bottom: 20px;
        height: 100vh;
    }

    body .uiScrollerWrapper.scrollable {
        overflow: auto;
        overflow-y: scroll !important;
        overflow-scrolling: touch !important;
        -webkit-overflow-scrolling: touch !important;
    }

    body .cncrgConcierge.total_div.bgHomeTabIframe {
        overflow-y: auto;
        overflow-y: scroll !important;
        overflow-scrolling: touch !important;
        -webkit-overflow-scrolling: touch !important;
        position: absolute;
    }
}

@media (max-width: 600px) {
    .cncrgCloseCasePopup .popup-content {
        height: 500px;
    }

    .cncrgCasesList div.work_space,
    .cncrgFavoriteArticlesList .my_favorites_div.additional_shift div.work_space {
        height: auto;
    }
}