.THIS .cross {
    float: right;
}
.THIS .cross img{
    margin-top: -44px;
    width: 20px;
}
.THIS.containerPopup {
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    color: initial;
}
.THIS.containerPopup .slds-form-element__label {
    color: #000;
}
.THIS.containerPopup .modal-content{
    max-width: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fefefe;
}
.THIS.containerPopup .flowruntimeInputWrapper{
    padding: 0;
}
.THIS.containerPopup .flowruntimeInputWrapper{
    margin-bottom: 10px;
}
.THIS button.slds-button.slds-button--neutral:hover,
.THIS button.slds-button.slds-button--neutral:focus,
.THIS button.slds-button.slds-button--neutral:active{
    background: #f3f3f3;
}
.THIS.containerPopup fieldset.slds-form-element.flowruntimeRadioButtonInput{
    margin-top:15px;
}
.THIS.containerPopup img.close-icon{
    margin-top: 0;
}
.THIS span.slds-radio {
    margin-bottom: 7px;
}
.THIS .slds-m-bottom_large.flowruntimeRichTextWrapper,
.THIS.containerPopup .body .slds-form {
    margin-bottom: 10px;
}
.THIS.containerPopup .slds-form-element__control input.input,
.THIS.containerPopup .slds-form-element__control input,
.THIS.containerPopup .slds-form-element__control select{
    height: 34px;
}
.THIS.containerPopup .slds-form-element__control textarea{
    min-height:62px ;
    padding: .75rem;
}

.THIS.containerPopup .slds-form-element__control input.input,
.THIS.containerPopup .slds-form-element__control input,
.THIS.containerPopup .slds-form-element__control textarea,
.THIS.containerPopup .slds-form-element__control select{
    min-height: 34px;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid rgb(217, 219, 221);
    line-height: 18px;
    font-size: 14px!important;
    padding: 3px 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.THIS.containerPopup button.slds-button.slds-button--neutral.uiButton--default.uiButton span,
.THIS.containerPopup button.slds-button.slds-button--neutral.uiButton--default.uiButton:hover span{
    color: #0070d2;
}
.THIS.containerPopup button.slds-button.slds-button--neutral.uiButton--default.uiButton{
    box-shadow: none;
}
.THIS.containerPopup .modal-content .cross{
    text-align: right;
    margin: 15px 15px 0 0;
    cursor:pointer;
    z-index: 9;
    position: relative;
}

.THIS.containerPopup lightning-icon.slds-icon-standard-user + input,
.THIS.containerPopup lightning-icon.slds-icon-standard-contact + input,
.THIS.containerPopup lightning-icon + input{
    padding-left: 30px;
}

@media (max-width: 1024px) {
    .THIS.containerPopup .slds-input__icon-group.slds-input__icon-group_right{
        right:.8rem;
    }

    .THIS .flow-item .slds-card__footer .slds-button {
        width: auto;
    }
}

.THIS .x-panel,
.THIS .x-panel-body-noheader,
.THIS .x-panel-mc .x-panel-body,
.THIS .x-panel-body{
    border: none!important;
}
.THIS .flowPopup, 
.THIS.flowPopup {
    position: fixed;
    z-index: 9999;
    /*overflow: visible!important;*/
}
.THIS .flowPopup .content, 
.THIS.flowPopup .content {
    text-align: left;
}
.THIS .flow-item .slds-card__body .slds-button.slds-button_icon.slds-button_icon-bare {
    width: auto;
    background: transparent;
    padding: 0;
    box-shadow: none;
}
.THIS .flow-item .slds-card__body .slds-button.slds-button_icon.slds-button_icon-bare lightning-primitive-icon {
    color: rgb(112, 110, 107);
}
.THIS .flow-item .slds-card__body .body p {
    border: none;
    padding: 0;
    margin: 0;
    line-height: 18px;
}
.THIS .flow-item .slds-card__body legend.slds-form-element__legend.slds-form-element__label,
.THIS .flow-item .slds-card__body .slds-form-element__label.slds-form-element__label.flowruntimeRichTextWrapper {
    margin-right: 0;
}
.THIS .flow-item select {
    background-color: white;
}

@media (max-width: 768px) {
    .THIS .helpBlock {
        width: 100%;
        display:block;
    }
    
    .THIS .helpBlock lightning-icon svg{
        width:25px;
    }

    .THIS .flow-item .slds-card__body .body p {
        border: none;
        padding: 0;
        margin: 0;
    }

    .THIS.containerPopup.flowPopup .modal-content {
        flex-direction: column;
        margin: auto;
        position: relative;
        top: 60px;
        left: auto;
        transform: translate(0);
    }
    .THIS.flowAndrBg {
        height: calc(100% - 60px); 
    }
}

@media (max-width: 560px) {
    .THIS.containerPopup .modal-content{
        width: 90%;
        padding: 10px 0 0;
        margin: 70px 0;
    }
    .THIS footer.slds-card__footer.actionButtonBar .actionsRight.slds-float_right{
        display: flex;
    }
}
.THIS .flow-icon svg {
    height: 18px;
}

.THIS .flow-item .modal-header button.slds-button {
    background: transparent;
    width: auto;
}

.THIS .flow-item .modal-header button.slds-button svg {
    color: #8e8e8e;
}

.THIS .flow-item .modal-header.slds-modal__header.empty.slds-modal__header--empty {
    text-align: right
}