.THIS .case_description_text {
	padding: 0.5rem 1rem;
	display: block;
	font-size: .95rem;
	line-height: 1.5;
	font-weight: 700;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.THIS .feedback_hidden {
	display:none;
}

.THIS .feedback {
	margin-bottom: 10px;
	max-width: 150px;
}

.THIS .feedback button {
	border: 0;
	border-radius: 4px;
	color: #fff;
	padding: 7px 15px;
	font-size: .8rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
	min-height: 33px;
	line-height: 15px;
}

.THIS.all_free_space_div {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	padding: 0 1.5rem;
	position: relative;
	background-color: white;
}

@media (max-width: 600px) {
	.THIS.all_free_space_div {
		position: static;
	}
}

/* THIS HACKS FOR SAFARI BROWSERS */

@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) { 
	.THIS.all_free_space_div.iOS {
		position: absolute !important;
		width: 100vw !important;
		left: 0px !important; 
		background-color: white;
	}
	
}

/* ------------------------------------------------ */
.THIS .my_comment {
	text-align: right;
}

.THIS .comment_div {
	padding: 1rem;
}

.THIS .div_to_hide {
	display: none;
}

.THIS.hidden_div {
	display: none;
}

.THIS .addNewCommentsSection {
	padding: 1rem 1rem 0 1rem;
	z-index: 999;
}

.THIS .new_comment_area {
	padding: 0;
	margin: 0;
	border: 0;
}

.THIS .addNewCommentsSection button {
	border: 0;
	border-radius: 4px;
	color: #fff;
	padding: 7px 20px;
	font-size: .8rem;
	margin: 0;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1000;
	min-height: 33px;
}

.THIS .addNewCommentsSection textarea {
	font-size: 14px;
	color: #1a1a1a;
	border-radius: 0;
	height: 100%;
	display: block;
	resize: none;
	min-height: 90px;
	box-shadow: none;
	box-sizing: border-box;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	line-height: 16px;
	-webkit-appearance: none;
	appearance: none;
}
.THIS .addNewCommentsSection textarea::placeholder{
	font-size: 12px!important;
	color: #909090!important;
	line-height: 20px!important;
}

.THIS .addNewCommentsSection label.slds-form-element__label {
	display: none;
}

.THIS .file_upload {
	display: inline-block;
	position: relative;
	margin: 0;
	vertical-align: top;
	z-index: 1000;
}

.THIS .file_upload .button,
.THIS .file_upload > mark {
	display: inline-block;
	cursor: pointer
}
.THIS .file_upload .button:hover{
	background: #eef1f6;
}
.THIS .file_upload input[type=file] {
	position: absolute;
	top: 0;
	opacity: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: -1;
	width: 0;
}

.THIS .file_upload .button {
	background: #ffffff;
	border: 1px solid #999b9e;
	border-radius: 4px;
	color: #444444;
	font-size: 13px;
	padding: 7px 20px;
	height: auto;
	text-align: center;
	min-height: 33px;
	line-height: 17px;
}

.THIS .file_upload > mark {
	background: transparent;
	padding-left: 1em;
	color: #959eac;
	font-size: 13px;
	position: relative;
	width: 120px;
	padding: 0;
	left: 13px;
	cursor: pointer;
	top: 5px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-height: 15px;
}

.THIS .buttonsArea {
	background: #f2f6fa;
	margin-top: 0;
	border: 1px solid #d8dde6;
	position: relative;
	top: 0;
	padding: 5px;
	border-top: none;
}

.THIS .display_false {
	display: none;
}

.THIS .disabled_style {
	background: grey !important;
}

.THIS .ticketNumber {
	padding: 0 1rem;
	font-size: 0.76rem;
	color: #999999;
}

.THIS .ticketNumber .text {
	display: inline-block;
	padding-right: 12px;
}

.THIS .activity {
	color: #8d9eca;
	text-transform: uppercase;
	font-size: 0.9rem;
	text-align: center;
	padding-top: 18px;
}

.THIS .attachImage {
	padding: 1rem 1rem 0 1rem;
}

.THIS .slds-textarea:focus,
.THIS .slds-textarea:active {
	outline: 0;
	border-color: #1589ee;
	background-color: white;
	box-shadow: inset 0 0 3px #0070D2;
}

.THIS .new_comment_area {
	display: block;
}

.THIS .block-flex {
	display: flex;
}

.THIS .slds-spinner_brand.slds-spinner:before,
.THIS .slds-spinner_brand.slds-spinner:after,
.THIS .slds-spinner_brand .slds-spinner__dot-a:before,
.THIS .slds-spinner_brand .slds-spinner__dot-b:before,
.THIS .slds-spinner_brand .slds-spinner__dot-a:after,
.THIS .slds-spinner_brand .slds-spinner__dot-b:after,
.THIS .slds-spinner--brand.slds-spinner:before,
.THIS .slds-spinner--brand.slds-spinner:after,
.THIS .slds-spinner--brand .slds-spinner__dot-a:before,
.THIS .slds-spinner--brand .slds-spinner__dot-b:before,
.THIS .slds-spinner--brand .slds-spinner__dot-a:after,
.THIS .slds-spinner--brand .slds-spinner__dot-b:after {
	background-color: #1589ee;
}

.THIS .addNewCommentsSection textarea::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-size: 14px;
}

.THIS .addNewCommentsSection textarea::-moz-placeholder {
	/* Firefox 19+ */
	font-size: 14px;
}

.THIS .addNewCommentsSection textarea:-ms-input-placeholder {
	/* IE 10+ */
	font-size: 14px;
}

.THIS .addNewCommentsSection textarea:-moz-placeholder {
	/* Firefox 18- */
	font-size: 14px;
}

.THIS div.uiOutputRichText {
	font-weight: normal;
}

.THIS .subComments {
	padding-left: 55px;
}

.THIS .subComments .slds-media.slds-comment {
	margin-top: 10px;
}

.THIS .subComments .slds-media.slds-comment:last-child {
	border: none;
}

.THIS .subComments .addNewCommentsSection {
	padding-top: 0;
	margin-bottom: 10px;
}

.THIS .linkAllComments {
	color: #0070d2;
	cursor: pointer;
}

.THIS .linkAllComments:hover {
	text-decoration: underline;
}
/*START - subcomments*/
.THIS .subComments .addNewCommentsSection textarea{
	height: 35px;
	min-height: 35px;
	padding: 6px 10px;
	border-radius: 5px;
}
.THIS .subComments .buttonsArea{
	display: none;
}
.THIS .subComments .buttonsArea.active{
	display: block;
}
.THIS .subComments .addNewCommentsSection .expandTextArea textarea{
	height: auto;
	min-height: 63px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.THIS .subComments .addNewCommentsSection .expandTextArea textarea::placeholder{
	color:#037bd7!important;
}
.THIS .subComments .comment{
	display: none;
}
.THIS .comment{
	cursor: pointer;
}
/* END - subcomments */


/*start - styles for Business Cards*/

.THIS .result_body .body_style .section_card table{
	width: calc(100% - 150px);
}
.THIS .section_card td {
	display:flexbox;
	flex-direction:column;
}
.THIS .block_userTop {
	display: flex;
	padding:15px;
}
.THIS .wrapUserAndLogo {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	justify-content: flex-end;
	flex: 5;
}
.THIS .block_userName{
	margin-top: auto;
}
.THIS .block_companyLogo{
	align-self: flex-end;
	margin-bottom: 10px;
	flex-grow: 1;
}
.THIS .CompanyLogo {
	text-align: right;
}
.THIS .block_photo{
	flex: 2;
	padding-right: 10px;
}
.THIS .block_photo img {
	max-height:200px;
	max-width:200px;
}
.THIS .CompanyLogo img{
	width: auto!important;
	height: auto!important;
	max-height: 100px!important;
}
.THIS .block_userBottom {
   padding: 15px;
}
.THIS .block_userPhone,
.THIS .block_userAddress {
   width: 49%;
   display: inline-block;
}
.THIS .block_userAddress {
   text-align:right;
}
.THIS p.txt_bottom {
	text-align: center;
}
.THIS .FirstName {
   font-size:1.7rem;
}

/*end - styles for Business Cards*/
@media (max-width: 768px) {

	.THIS.slds-scrollable.all_free_space_div,
	.THIS.slds-scrollable {
		overflow-y: visible;
		overflow: visible;
		padding: 0 0.7rem;
	}

	.THIS .addNewCommentsSection {
		padding: 0;
	}
	.THIS .comment_div {
		padding: 1rem 0;
	}
	.THIS.slds-scrollable.all_free_space_div {
		padding-bottom: 50px;
	}
	.THIS .feedback button {
		padding: 13px;
		margin-bottom: 15px;
		margin-left: 15px;
	}
	.THIS .block-flex {
		display: block;
	}
	.THIS .ticketNumber {
		padding-bottom: 1rem;
		display: block;
	}

	.THIS .subComments {
		padding-left: 42px;
	}

}

@media (max-width: 380px) {
	.THIS .file_upload > mark {
		width: 80px;
	}

	.THIS .subComments {
		padding-left: 25px;
	}
}

@media (max-width: 340px) {
	.THIS .file_upload > mark {
		width: 50px;
	}
}

.THIS.sub-comment {
	padding-left: 30px;
}