.THIS.hidden_div, 
.THIS .hidden_div {
    display: none;
}
.THIS .slds-spinner.slds-spinner--medium.slds-spinner--brand{
	position: absolute;
    top: 50%;
    left: 50%!important;
    transform: translate(-50%,-50%) rotate(90deg);
    width: 2rem;
    transform-origin: 50% 50%;
    overflow: visible;
    background: transparent;
    min-height: auto;
    min-width: auto;
    height: auto;
}
.THIS.slds-spinner_container, 
.THIS .slds-spinner_container{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: translate3d(0, 0, 0);
	z-index: 9999999!important;
	margin: 0;
}