.THIS {
	font-family: "Salesforce Sans",Arial,sans-serif!important;
}

.THIS .slds-spinner_container {
	z-index: 999999999!important;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
}

.THIS.total_div {
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
	overflow-y: hidden;
	left: 0;
	/*z-index: -10;*/
}

.THIS.total_div .overlay {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	/*z-index: -10;*/
	background: rgba(8, 17, 26, 0.2);
}

.THIS.total_div .video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -10;
}

.THIS .updates_count {
	display: block;
}

.THIS .new_message_section {
	position: fixed;
	top: 10rem;
	border-radius: 0.5rem;/*4*/
	width: 27%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-size: 1.5rem;
	padding: 1rem;
	font-family: "open_sansregular",Arial,sans-serif;
	transition: 1s linear;
	opacity: 0;
	line-height:30px;
}

.THIS .new_message_section.active {
    opacity: 1;
    z-index: 1003;
}

.THIS .info_message {
	background: #4f81ff;
	color: #fff;
}

.THIS .success_message {
	background: rgb(75, 202, 129);
	color: #fff;
}

.THIS .error_message {
	background: rgb(201, 97, 66);
	color: #fff;
}

.THIS.display_false {
	display: none;
}

.THIS .display_false {
	display: none;
}

.THIS .my_tickets_btn {
	position: fixed;
	top: 30px;
	right: 2rem;
	border: 0;
	background: transparent;
	font-size: 1.6rem;
	font-weight: bold;
	outline: none;
}

.THIS .my_tickets_btn img {
	width: auto;
	height: 50px;
	margin-top: -5px;
}

.THIS .my_tickets_btn.active {
	color: #1a1a1a;
	font-weight: normal;
	background: #eef1f6;
	border-radius: 50px;
	width: 103px;
	height: 32px;
}

.THIS .cncrgSearchQueryInput .uiInput--select.select:not([multiple]) {
	padding: 0 17px 0 3px;
}

.THIS .cncrgSearchQueryInput .uiInput--select.select {
	border: 0;
	line-height: 13px;
	border-right: 1px solid #55698d;
	border-left: 1px solid #55698d;
	border-radius: 0;
	background: transparent;
	color: #55698d;
	height: 20px;
	-webkit-appearance: none;
	background-image: url(/resource/1510919235000/cncrg__Media/select.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 11px;
	-webkit-background-size: 11px;
	-moz-background-size: 11px;
	background-position-x: 88%;
		/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;
	cursor: pointer;
}

.THIS .cncrgSearchQueryInput .uiInput--select.select::-ms-expand {
	display: none;
}

.THIS .cncrgSearchQueryInput .BlockLanguages select {
	padding: 0;
	width: 47px;
}

.THIS .cncrgSearchQueryInput .BlockLanguages {
	top: 14px;
}

.THIS .cncrgLogTicket .total_div {
	position: fixed;
	overflow: auto;
}

.THIS ol {
	list-style: decimal;
} 

.THIS ol li, 
.THIS ul li {
	margin-left: 20px;
}

.THIS ul {
	list-style-type: disc;
}

@media (max-width: 1024px) {
	.THIS .my_tickets_btn {
		display:none;
	}

	.THIS.total_div {
		overflow-y: auto;
		overflow-x: hidden;
	}
}
@media (max-width: 970px){
	.THIS .cncrgLogTicket .total_div {
		overflow: auto;
		position: fixed;
	}

	.THIS .cncrgLogTicket.total_div {
		position: fixed;
	}
}
@media (max-width: 768px) {	
	.THIS .new_message_section {
		width: 265px;
	}
	
}

.THIS .updates-number-circle {
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	background-color: #de0000;
	border: 2px solid #de0000;
	border-radius: 50%;
	color: white;
	font-size: 9px;
	text-align: center;
	line-height: 16px;
	position: absolute;
	top: 86px;
	left: 179px;
	padding: 0;
	margin: 0;
}

@media (max-width: 1024px) {
	.THIS .updates-number-circle {
		display: none;
	}

	.THIS .cncrgSearchQueryInput .navTopMobile .updates-number-circle {
		display: block;
	}
}

.THIS .hide {
	display: none;
}

.THIS.conc_body-lex-mob-browser .cncrgArticleRateFeedback.popup-wrapper {
	height: calc(100% - 120px);
}

.THIS.conc_body-lex-mob-browser-andr .cncrgCasesList .my_tikets_div.additional_shift, 
.THIS.conc_body-lex-mob-browser-andr .cncrgFavoriteArticlesList .my_favorites_div {
	height: calc(100% - 200px);
}

.THIS.conc_body-lex-mob-browser-andr {
	height: calc(100% - 100px);
}

.THIS.conc_body-mob-browser-andr .cncrgCasesList .my_tikets_div.additional_shift, 
.THIS.conc_body-mob-browser-andr .cncrgFavoriteArticlesList .my_favorites_div {
	height: calc(100% - 160px);
}

.THIS.conc_body-mob-browser-andr {
	height: calc(100% - 60px);
}
.THIS.sf1AndrBg{
    height: calc(100% - 60px)!important;
}