.THIS .x-panel,
.THIS .x-panel-body-noheader,
.THIS .x-panel-mc .x-panel-body,
.THIS .x-panel-body{
    border: none!important;
}

.THIS .info_div {
    background: white;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
}
.THIS.total_div, .THIS .total_div {
    position: fixed;
    top: 0;
    left: 0 !important;
    width: 100%;
    background: rgba(198,198,198,0.8);
    z-index: 99999999;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
}
.THIS .cross {
    cursor: pointer;
    float: right;
    margin: 15px;
}
.THIS .cross img{
    width: 20px;
} 
.THIS .info_table {
    background: white;
    color: black;
    /* margin: 0 4.5rem 0 4.5rem;
    padding: 2rem 0 1rem 0; */
    margin: 40px;
}

.THIS .hidden_div, .THIS.hidden-popUp-true, .THIS.hidden_div {
    opacity: 0;
    width: 0;
}
.THIS .info_divLChat{
    background: white;
    width: 450px;
    height: 410px;
    border-radius: 5px;
    position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   margin: 0 auto;

}

.THIS iframe#myFrame{
    margin-top:20px; 
    margin-left:-1px;
}
@media (max-width: 1060px) {
    .THIS div.info_table {    
        margin: 15px;
        padding:20px;
    }
}
@media (max-width: 500px) {
    .THIS .info_divLChat {
        width: 300px;
        top: 15px;
       -webkit-transform: translate(-50%, 0);
       -ms-transform: translate(-50%, 0);
       transform: translate(-50%, 0); 
    }
    .THIS iframe#myFrame {
        width: 250px!important;
        height: 300px!important;
        margin-top: 5px!important;
    }
    .THIS div.info_table {    
        margin: 15px;
        padding:10px;
    }
    .THIS.total_div, .THIS .total_div{    
        background: rgba(198,198,198,1);  
    }

}