.THIS.modal-body {
    height: auto !important;
    padding: 0;
}

.THIS.modal-footer {
    box-shadow: none;
    background: white;
}

.THIS.forceChatterLightningComponent.bodyWrapper {
    height: 100%;
    width: 100%;
    padding: 0;
    box-sizing: border-box
}

.THIS span {
    font-weight: 500;
}

.THIS h1 {
    font-size: 1.0rem;
    font-weight: 700;
}

.THIS h2 {
    font-size: 1.3rem;
    font-weight: 700;
}

.THIS.scrollable.slds-modal__content.slds-p-around--medium {
    overflow: hidden;
    min-height: 380px;
    height: auto;
}

.THIS .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    clear: both;
}

.THIS .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/*START - styles for Business Cards*/

.THIS .result_body .body_style .section_card table {
    width: calc(100% - 150px);
}

.THIS .section_card .section_card td {
    display: flexbox;
    flex-direction: column;
}

.THIS .section_card .block_userTop {
    display: flex;
    padding: 15px;
}

.THIS .section_card .wrapUserAndLogo {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 5;
}

.THIS .section_card .block_userName {
    margin-top: auto;
}

.THIS .section_card .block_companyLogo {
    align-self: flex-end;
    margin-bottom: 10px;
}

.THIS .section_card .block_photo {
    flex: 2;
    padding-right: 10px;
}

.THIS .section_card .block_photo img {
    max-height: 200px;
    max-width: 200px;
}

.THIS .section_card .CompanyLogo img {
    width: auto !important;
    height: auto !important;
    max-height: 100px !important;
}

.THIS .section_card .CompanyLogo {
    text-align: right;
}

.THIS .section_card .block_userBottom {
    padding: 15px;
}

.THIS .section_card .block_userPhone,
.THIS .section_card .block_userAddress {
    width: 49%;
    display: inline-block;
}

.THIS .section_card .block_userAddress {
    text-align: right;
}

.THIS .section_card p.txt_bottom {
    text-align: center;
}

.THIS .section_card .FirstName {
    font-size: 1.9rem;
}

/*END - styles for Business Cards*/