/*.THIS.total_div {
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    overflow-y: hidden;
    left: 0;
}

.THIS.total_div .video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
}

.THIS.display_false {
    display: none;
}*/